%additional_python_modules
# Glue Studio Notebook
You are now running a **Glue Studio** notebook; before you can start using your notebook you *must* start an interactive session.

## Available Magics
|          Magic              |   Type       |                                                                        Description                                                                        |
|-----------------------------|--------------|-----------------------------------------------------------------------------------------------------------------------------------------------------------|
| %%configure                 |  Dictionary  |  A json-formatted dictionary consisting of all configuration parameters for a session. Each parameter can be specified here or through individual magics. |
| %profile                    |  String      |  Specify a profile in your aws configuration to use as the credentials provider.                                                                          |
| %iam_role                   |  String      |  Specify an IAM role to execute your session with.                                                                                                        |
| %region                     |  String      |  Specify the AWS region in which to initialize a session.                                                                                                 |
| %session_id                 |  String      |  Returns the session ID for the running session.                                                                                                          |
| %connections                |  List        |  Specify a comma separated list of connections to use in the session.                                                                                     |
| %additional_python_modules  |  List        |  Comma separated list of pip packages, s3 paths or private pip arguments.                                                                                 |
| %extra_py_files             |  List        |  Comma separated list of additional Python files from S3.                                                                                                 |
| %extra_jars                 |  List        |  Comma separated list of additional Jars to include in the cluster.                                                                                       |
| %number_of_workers          |  Integer     |  The number of workers of a defined worker_type that are allocated when a job runs. worker_type must be set too.                                          |
| %glue_version               |  String      |  The version of Glue to be used by this session. Currently, the only valid options are 2.0 and 3.0 (eg: %glue_version 2.0).                               |
| %security_config            |  String      |  Define a security configuration to be used with this session.                                                                                            |
| %sql                        |  String      |  Run SQL code. All lines after the initial %%sql magic will be passed as part of the SQL code.                                                            |
| %streaming                  |  String      |  Changes the session type to Glue Streaming.                                                                                                              |
| %etl                        |  String      |  Changes the session type to Glue ETL.                                                                                                                    |
| %status                     |              |  Returns the status of the current Glue session including its duration, configuration and executing user / role.                                          |
| %stop_session               |              |  Stops the current session.                                                                                                                               |
| %list_sessions              |              |  Lists all currently running sessions by name and ID.                                                                                                     |
| %worker_type                |  String      |  Standard, G.1X, *or* G.2X. number_of_workers must be set too. Default is G.1X.                                                                           |
| %spark_conf                 |  String      |  Specify custom spark configurations for your session. E.g. %spark_conf spark.serializer=org.apache.spark.serializer.KryoSerializer.                      |

In [4]:
## do some configurations - run this cell before the next cell which activates the Spark Context
%additional_python_modules awswrangler
# %number_of_workers 10
# %spark_conf spark.driver.maxResultSize=2G

Additional python modules to be included:
awswrangler

In [ ]:
import sys
from awsglue.transforms import *
from awsglue.utils import getResolvedOptions
from pyspark.context import SparkContext
from awsglue.context import GlueContext
from awsglue.job import Job

sc = SparkContext.getOrCreate()
glueContext = GlueContext(sc)
spark = glueContext.spark_session
job = Job(glueContext)

Authenticating with environment variables and user-defined glue_role_arn: arn:aws:iam::741993363917:role/AWSGlueServiceRole
Trying to create a Glue session for the kernel.
Worker Type: G.1X
Number of Workers: 5
Session ID: 754eb60a-4d28-43cc-93eb-7e2b56009615
Applying the following default arguments:
--glue_kernel_version 0.35
--enable-glue-datacatalog true
--additional-python-modules awswrangler
Waiting for session 754eb60a-4d28-43cc-93eb-7e2b56009615 to get into ready status...
Session 754eb60a-4d28-43cc-93eb-7e2b56009615 has been created

In [2]:
%stop_session

Stopping session: 567a891c-08c9-4385-a7a4-585e5e019800
Stopped session.

#### Trying to tag this spark session part so we can track costs
- as of 25/12/2022, still haven't managed to get this tracking/tagging of Notebook costs to work

In [10]:
job.get_tags()

AttributeError: 'Job' object has no attribute 'get_tags'

In [10]:
%help

Available Magic Commands

## Sessions Magics
%help | Return a list of descriptions and input types for all magic commands.
%profile | String | Specify a profile in your aws configuration to use as the credentials provider.
%region | String | Specify the AWS region in which to initialize a session | Default from ~/.aws/configure
%idle_timeout | Int | The number of minutes of inactivity after which a session will timeout. The default idle timeout value is 2880 minutes (48 hours).
%session_id | Returns the session ID for the running session.
%session_id_prefix | String | Define a String that will precede all session IDs in the format [session_id_prefix]-[session_id]. If a session ID is not provided, a random UUID will be generated.
%status | Returns the status of the current Glue session including its duration, configuration and executing user / role.
%list_sessions | Lists all currently running sessions by name and ID.
%stop_session | Stops the current session.
%glue_version | String | The version of Glue to be used by this session. Currently, the only valid options are 2.0 and 3.0. The default value is 2.0.
%streaming | String | Changes the session type to Glue Streaming.
%etl | String | Changes the session type to Glue ETL.

## Glue Config Magics
%%configure | Dictionary | A json-formatted dictionary consisting of all configuration parameters for a session. Each parameter can be specified here or through individual magics.
%iam_role | String | Specify an IAM role ARN to execute your session with. | Default from ~/.aws/configure
%number_of_workers | int | The number of workers of a defined worker_type that are allocated when a job runs. worker_type must be set too. The default number_of_workers is 5.
%worker_type | String | Standard, G.1X, or G.2X. number_of_workers must be set too. The default worker_type is G.1X.
%security_config | String | Define a Security Configuration to be used with this session.
%connections | List | Specify a comma separated list of connections to use in the session.
%additional_python_modules | List | Comma separated list of additional Python modules to include in your cluster (can be from Pypi or S3).
%extra_py_files | List | Comma separated list of additional Python files From S3.
%extra_jars | List | Comma separated list of additional Jars to include in the cluster.
%spark_conf | String | Specify custom spark configurations for your session. E.g. %spark_conf spark.serializer=org.apache.spark.serializer.KryoSerializer

## Action Magics
%%sql | String | Run SQL code. All lines after the initial %%sql magic will be passed as part of the SQL code.

In [9]:
glueContext.list_sessions()

AttributeError: 'GlueContext' object has no attribute 'list_sessions'

In [2]:
%list_sessions

The first 3 sessions are:
18216618-8c98-45a8-b0ba-dbcf4f54508e
a2a8fbd1-cc6c-4e9c-91b2-1ee65e0f1ed2
a57c624b-1968-44a1-be49-1142b86f9f62

In [4]:
%status

Session ID: 18216618-8c98-45a8-b0ba-dbcf4f54508e
Status: READY
Duration: 45.914276 seconds
Role: arn:aws:iam::741993363917:role/AWSGlueServiceRole
CreatedOn: 2022-12-19 09:01:28.999000+00:00
GlueVersion: 2.0
Worker Type: G.1X
Number of Workers: 5
Region: ap-southeast-1
Applying the following default arguments:
--glue_kernel_version 0.35
--enable-glue-datacatalog true
Arguments Passed: ['--glue_kernel_version: 0.35', '--enable-glue-datacatalog: true']

In [4]:
tags_dict = {'Technical_Owner' : 'Amzar', 'Project' : 'Address_standardization' }
# response = glue_client.tag_resource(TagsToAdd=tags_dict)
response = job.tag_resource(TagsToAdd=tags_dict)

AttributeError: 'Job' object has no attribute 'tag_resource'

In [8]:
%%configure tags = {'Technical_Owner': 'Amzar'}

You are already connected to session 18216618-8c98-45a8-b0ba-dbcf4f54508e. Your change will not reflect in the current session, but it will affect future new sessions.

The following exception was encountered while parsing the configurations provided: invalid syntax (<unknown>, line 1)
Traceback (most recent call last):
  File "/home/jupyter-user/.local/lib/python3.7/site-packages/aws_glue_interactive_sessions_kernel/glue_pyspark/GlueKernel.py", line 278, in configure
    configs = ast.literal_eval(configs_json)
  File "/usr/lib64/python3.7/ast.py", line 46, in literal_eval
    node_or_string = parse(node_or_string, mode='eval')
  File "/usr/lib64/python3.7/ast.py", line 35, in parse
    return compile(source, filename, mode, PyCF_ONLY_AST)
  File "<unknown>", line 1
    tags = {'Technical_Owner': 'Amzar'}
         ^
SyntaxError: invalid syntax

In [2]:
sys.argv+=['--JOB_NAME', 'amzar-address_standardization-prod-p1p2_mdu_mapping_tm_spark_etl']
args = getResolvedOptions(sys.argv,
                          ['JOB_NAME'])
print(args)

{'job_bookmark_option': 'job-bookmark-disable', 'job_bookmark_from': None, 'job_bookmark_to': None, 'JOB_ID': None, 'JOB_RUN_ID': None, 'SECURITY_CONFIGURATION': None, 'encryption_type': None, 'enable_data_lineage': None, 'RedshiftTempDir': None, 'TempDir': None, 'JOB_NAME': 'amzar-address_standardization-prod-p1p2_mdu_mapping_tm_spark_etl'}

# Enhanced P1P2 MDU Mapping for TM
Notebook created on 13/12/22. Codes copied from Qubole Zeppelin Notebook: https://us.qubole.com/notebooks#home?id=142238&type=my-notebooks&location=Users/amzar_maarof@astro.com.my/Broadband/AddressStandardization 
- There were some edits made to fit the reading in of the new std bases & to reduce no of columns read in
- run these next 2 cells before any cell below them in this Notebook

In [2]:
from pyspark.sql import functions as f
from pyspark.sql.functions import *
from pyspark.sql.functions import when

from pyspark.sql.window import Window
from functools import reduce
from pyspark.sql import DataFrame
from pyspark.sql.types import *

import pandas as pd
import numpy as np
import awswrangler as wr # seems like the generate_UAMS_Format function may need this for some reason... Maybe coz I'm using some pandas functions...?

# # ------ automating the generation of start and end dates 
from datetime import datetime
from datetime import timedelta
# Refer to https://stackoverflow.com/questions/9724906/python-date-of-the-previous-month
import time
# curr_date = str(datetime.today().strftime('%Y%m%d'))
curr_date = '20221213'
print(curr_date)

20221213

In [3]:
### set read_paths
astro_new_std_path = 's3://astro-groupdata-prod-pipeline/address_standardization/astro_new_standardized/astro_new_standardized.csv.gz'
tm_new_std_path = 's3://astro-groupdata-prod-pipeline/address_standardization/tm_new_standardized/TM_New_Standardized.csv.gz'
temporary_save_path = 's3://astro-groupdata-prod-pipeline/address_standardization/tm_uams_mdu/historical_folder/'
print(temporary_save_path)
uams_mdu_path = 's3://astro-groupdata-prod-pipeline/address_standardization/tm_uams_mdu/'
ISP_Name = 'TM'

## define some functions for repetitive actions
def clean_HNUM_STRT(df, hnum_strt_col_string):
    ## Capitalize & clean HNUM_STRT column. Replace specific strings (eg. '[,.]' ) with empty string ("")
    df = df.withColumn(hnum_strt_col_string, f.upper(f.trim(f.col(hnum_strt_col_string))) )
    df = df.withColumn(hnum_strt_col_string, f.regexp_replace(hnum_strt_col_string, 'NAN |', '') )
    df = df.withColumn(hnum_strt_col_string, f.regexp_replace(hnum_strt_col_string, '[,.]', '') )
    df = df.withColumn(hnum_strt_col_string, f.regexp_replace(hnum_strt_col_string, ' ', '') )
    df = df.withColumn(hnum_strt_col_string, f.regexp_replace(hnum_strt_col_string, '\.', '') )
    df = df.withColumn(hnum_strt_col_string, f.regexp_replace(hnum_strt_col_string, ',', '') )
    return df

s3://astro-groupdata-prod-pipeline/address_standardization/tm_uams_mdu/historical_folder/

### Read in Astro & TM New Std Bases

In [10]:
now = datetime.now()

# read in uploaded astro_new_std (last run 20221014). But note that the count is lower in this one compared to 20220812 -- previous versions of this notebook used older Astro New Std
astro_new_std = spark.read.csv(astro_new_std_path, header=True)
print('original columns in astro new std:', astro_new_std.columns)
## select relevant columns to reduce runtimes -- 
astro_new_std = astro_new_std.select('ACCOUNT_NO', 'ORIGINAL_ADDRESS', 'GEOHASH', 'LOCATION_TYPE', 'TRANSFORMED_ADDRESS', 'NUMBER_OF_RESULTS', 'FORMATTED_ADDRESS', 'Street_1', 
                                     'Street_2', 'AREA', 'CITY', 'STATE', 'COUNTRY', 'POSTCODE', 'match', 'Combined_Building', 'ASTRO_CITY', 'ASTRO_STATE', 'cust_location', 'service_add_objid', 'STD_CITY', 'HOUSE_NO', 
                                     'Token_Sort_Ratio', 'rank', 'Standard_Building_Name', 'Address_ID', 'Street_Type', 'Building_Coalesced', 'AREA_Coalesced', 'CITY_Coalesced', 'POSTCODE_Coalesced', 
                                     'STATE_Coalesced', 'Source')

## Trim/strip the whitespaces in the column & make sure it's UPPER CASE
astro_new_std = astro_new_std.withColumn('ASTRO_STATE', f.upper(f.trim(astro_new_std.ASTRO_STATE)))
# z.show(astro_new_std.select('ASTRO_STATE_trim').distinct())
print('astro_new_std count', astro_new_std.select('ASTRO_STATE').count()) # 4675485

## ensuring ACCOUNT_NO is string
astro_new_std = astro_new_std.withColumn( 'ACCOUNT_NO', f.col('ACCOUNT_NO').cast('string') )
astro_new_std = astro_new_std.withColumn( 'ACCOUNT_NO', f.regexp_replace('ACCOUNT_NO', '\.0','') )

# First, convert all Combined_Building values to UPPER CASE, then trim/strip the whitespaces & filter out null Combined_Building values as these might not be MDU
# astro_kv = astro_new_std.withColumn('Combined_Building', f.upper(f.trim(f.col('Combined_Building'))))
# astro_kv1 = astro_kv.filter('Combined_Building IS NOT NULL').filter(~f.col('Combined_Building').isin(['NAN', '-', '.', '', ' ', '/']))
# print('astro_kv1 count', astro_kv1.count(), 'astro_kv1 unique acc_no', astro_kv1.select(f.countDistinct('ACCOUNT_NO')).show()) # 710887 , 601794

# First, convert all Building_Coalesced values to UPPER CASE, then trim/strip the whitespaces & filter out null Building_Coalesced values as these might not be MDU (used this one coz got higher counts than Combined_Building
astro_kv = astro_new_std.withColumn('Building_Coalesced', f.upper(f.trim(f.col('Building_Coalesced'))))
astro_kv = astro_kv.filter('Building_Coalesced IS NOT NULL').filter(~f.col('Building_Coalesced').isin(['NAN', '-', '.', '', ' ', '/']))
# print('notnull Building_Coalesced count', astro_kv1.count(), 'notnull Building_Coalesced unique acc_no', astro_kv1.select(f.countDistinct('ACCOUNT_NO')).show()) # 713550 , 603025

# ## save a temporary intermediate file (coz from experimentations in this notebook, found that using CSV takes a long time to run each cell + can cause the cluster to crash. Thus, save an ORC intermediate file to avoid these problems)
astro_kv.write.orc(temporary_save_path+'{0}/Astro_MDUonly.orc'.format(curr_date), mode="overwrite", compression='snappy')

print(astro_kv.columns)

## if needed, delete original files that were read in to free up memory
del astro_new_std
del astro_kv

end = datetime.now()
print(str(end - now)) # 0:01:24.578301

original columns in astro new std: ['ACCOUNT_NO', 'ORIGINAL_ADDRESS', 'GEOHASH', 'LOCATION_TYPE', 'TRANSFORMED_ADDRESS', 'NUMBER_OF_RESULTS', 'FORMATTED_ADDRESS', 'Street_1', 'Street_2', 'AREA', 'CITY', 'STATE', 'COUNTRY', 'POSTCODE', 'match', 'Combined_Building', 'ASTRO_CITY', 'ASTRO_STATE', 'cust_location', 'service_add_objid', 'STD_CITY', 'HOUSE_NO', 'Token_Sort_Ratio', 'rank', 'Standard_Building_Name', 'Address_ID', 'Street_Type', 'Building_Coalesced', 'AREA_Coalesced', 'CITY_Coalesced', 'POSTCODE_Coalesced', 'STATE_Coalesced', 'Source']
astro_new_std count 4675485
['ACCOUNT_NO', 'ORIGINAL_ADDRESS', 'GEOHASH', 'LOCATION_TYPE', 'TRANSFORMED_ADDRESS', 'NUMBER_OF_RESULTS', 'FORMATTED_ADDRESS', 'Street_1', 'Street_2', 'AREA', 'CITY', 'STATE', 'COUNTRY', 'POSTCODE', 'match', 'Combined_Building', 'ASTRO_CITY', 'ASTRO_STATE', 'cust_location', 'service_add_objid', 'STD_CITY', 'HOUSE_NO', 'Token_Sort_Ratio', 'rank', 'Standard_Building_Name', 'Address_ID', 'Street_Type', 'Building_Coalesced', 'AREA_Coalesced', 'CITY_Coalesced', 'POSTCODE_Coalesced', 'STATE_Coalesced', 'Source']
0:01:24.578301

In [11]:
now = datetime.now()
# had to re-use 20220707 coz the columns in 20221013 are different to the columns used in the codes I've already written in this notebook
tm_new_std = spark.read.csv(tm_new_std_path, header=True)
# print('tm_new_std count', tm_new_std.select('ORIGINAL_ADDRESS').count()) # 11315437 addresses

## select relevant columns to reduce runtimes
# OLD code for TM_NEW_STD 20220707 --> tm_new_std = tm_new_std.select('ORIGINAL_ADDRESS', 'GEOHASH', 'LOCATION_TYPE', 'TRANSFORMED_ADDRESS', 'NUMBER_OF_RESULTS', 'FORMATTED_ADDRESS', 'Street_1', 'Street_2', 'AREA', 'CITY11', 'STATE12', 'COUNTRY', 'POSTCODE14', 'match', 'STD_CITY', 'BuildingName', 'City18', 'FloorNo', 'HouseNo', 'Postcode21', 'Section', 'ServiceType', 'State24', 'StreetName', 'StreetType', 'Postcode_Length', 'ADDRESS', 'ADDRESS_KEY', 'Combined_Building', 'Source', 'Standard_Building_Name',  'ADDRESS_MDU', 'Address_Type')
tm_new_std = tm_new_std.select('ORIGINAL_ADDRESS', 'GEOHASH', 'LOCATION_TYPE', 'TRANSFORMED_ADDRESS', 'NUMBER_OF_RESULTS', 'FORMATTED_ADDRESS', 'Street_1', 'Street_2', 'AREA', 
                               'CITY9', 'STATE10', 'COUNTRY', 'POSTCODE12', 'match', 'STD_CITY', 'BuildingName', 'City16', 'FloorNo', 'HouseNo', 'Postcode19', 'Section', 'ServiceType', 'State22', 'StreetName', 
                               'StreetType', 'Postcode_Length', 'ADDRESS', 'ADDRESS_KEY', 'Combined_Building', 'Source', 'Standard_Building_Name',  'ADDRESS_MDU', 'Address_Type', 'TM_Street', 
                               'Street_coalesced', 'CITY_coalesced') # --> code to be used for TM New Std of 20221013
# tm_new_std.columns

## renaming columns which have numbers in them (same col name but diff CASE)
tm_new_std = tm_new_std.withColumnRenamed('CITY9', 'CITY_GAPI').withColumnRenamed('STATE10', 'STATE_GAPI').withColumnRenamed('POSTCODE12', 'POSTCODE_GAPI').withColumnRenamed('City16', 'City').withColumnRenamed('Postcode19', 'Postcode').withColumnRenamed('State22', 'State')

# Trim/strip the whitespaces in the column & make sure it's UPPER CASE
tm_new_std = tm_new_std.withColumn('STATE_GAPI', f.upper(f.trim(tm_new_std.STATE_GAPI)))

# First, convert all Combined_Building values to UPPER CASE, then trim/strip the whitespaces
tm_kv = tm_new_std.withColumn('Combined_Building', f.upper(f.trim(f.col('Combined_Building'))))

# Filter out null Combined_Building values as these might not be MDU
tm_kv = tm_kv.filter('Combined_Building IS NOT NULL').filter(~f.col('Combined_Building').isin(['NAN', '-', '.', '', ' ', '/']))
print('notnull combined_building count',tm_kv.count(), 'notnull combined_building unique ori_addr',tm_kv.select(f.countDistinct('ORIGINAL_ADDRESS')).show()) # 3744359 rows, 988728 unique original_addr (excluding HouseNo)

# ## save a temporary intermediate file (coz from experimentations in this notebook, found that using CSV takes a long time to run each cell + can cause the cluster to crash. Thus, save an ORC intermediate file to avoid these problems)
tm_kv.write.orc(temporary_save_path+'{0}/TM_MDUonly.orc'.format(curr_date), mode="overwrite", compression='snappy')

print(tm_kv.columns)

del tm_new_std
del tm_kv

end = datetime.now()
print(str(end - now)) # 0:04:59.891710

+--------------------------------+
|count(DISTINCT ORIGINAL_ADDRESS)|
+--------------------------------+
|                          988728|
+--------------------------------+

notnull combined_building count 3744359 notnull combined_building unique ori_addr None
['ORIGINAL_ADDRESS', 'GEOHASH', 'LOCATION_TYPE', 'TRANSFORMED_ADDRESS', 'NUMBER_OF_RESULTS', 'FORMATTED_ADDRESS', 'Street_1', 'Street_2', 'AREA', 'CITY_GAPI', 'STATE_GAPI', 'COUNTRY', 'POSTCODE_GAPI', 'match', 'STD_CITY', 'BuildingName', 'City', 'FloorNo', 'HouseNo', 'Postcode', 'Section', 'ServiceType', 'State', 'StreetName', 'StreetType', 'Postcode_Length', 'ADDRESS', 'ADDRESS_KEY', 'Combined_Building', 'Source', 'Standard_Building_Name', 'ADDRESS_MDU', 'Address_Type', 'TM_Street', 'Street_coalesced', 'CITY_coalesced']
0:04:59.891710

# Implement the Enhanced Flow for Astro MDUs

--------------------- Flow Idea from P2 MDU Mapping Test_1.1 ---------------------

- Potential Flow for extracting BlockNo (BLOCK_extracted): fix HOUSE_NO that were converted to date --> remove extra special characters (,.) in Combined_Building & at end of HOUSE_NO --> extract after the word BLOCK/BLOK from ORIGINAL_ADDRESS --> extract after the word BLOCK/BLOK from HOUSE_NO --> extract from character before dash in HOUSE_NO --> extract from character before dashes in ORIGINAL_ADDRESS
- Potential Overall Flow: extract BlockNo --> create new test new_building_name column --> remove FTTH --> standardize CONDO, APT, P/PURI --> remove FLAT, PPR, PANGSAPURI --> (consider new column when appending extracted BlockNo) if the word 'BLOK/BLOCK' is in BuildingName (typically TM Homepass), remove BLOK/BLOCK + character after the word, then append extracted BlockNo to front of new_building_name. If it DOESN'T have BLOK/BLOCK (typically Astro addr), then just append the extracted BlockNo to the front of new_building_name (new_block_building_name) --> consider making a Set out of the words in new_building_name (avoid repeat words) and alphabetically order words --> use new_block_building_name in mapping key

### Recreate extract_house_NO function from Step 2.1 in PySpark Code directly first

In [30]:
# # read Astro & TM files back in as orc - this seems to cause the rest of the steps to run faster
# # also decided to rename astro_kv1 to astro_kv_clean directly and do the same for TM
astro_kv_clean = spark.read.orc(temporary_save_path+'{0}/Astro_MDUonly.orc'.format(curr_date))

## ensure upper case & trim for ORI_ADDR
astro_kv_clean = astro_kv_clean.withColumn('ORIGINAL_ADDRESS', f.upper(f.trim(f.col('ORIGINAL_ADDRESS'))) )

## sub HOUSE_NO into HOUSE_NO_old
astro_kv_clean = astro_kv_clean.withColumn('HOUSE_NO_old', f.upper(f.trim(f.col('HOUSE_NO'))) )

### extract House No -- this function uses rlike as the filter
astro_kv_clean = astro_kv_clean.withColumn('HOUSE_NO', 
                 when( f.col('ORIGINAL_ADDRESS').rlike('(\s|,|^)(\w{1,4})\s?(-|,-|\/)\s?(\w{1,4})\s?(-|,-|\/)\s?(\w{1,4})\s?(-|,-|\/)\s?(\w{1,4})'), f.regexp_extract( f.col('ORIGINAL_ADDRESS'), '(\w{1,4})\s?(-|,-|\/)\s?(\w{1,4})\s?(-|,-|\/)\s?(\w{1,4})\s?(-|,-|\/)\s?(\w{1,4})', 0) ) # (E-A1-A2-A45 / E2-1A-2A-4A / 1-2-3-4 / Z-A-B-C / G/1/11/22)
                 .when( f.col('ORIGINAL_ADDRESS').rlike('(\s|,|^|BLO?C?K)(\w{1,4})\s?(-|,-|\/)\s?(\w{1,4})\s?(-|,-|\/)\s?(\w{1,4})'), f.regexp_extract( f.col('ORIGINAL_ADDRESS'), '(?<=\s|,|^|BLO?C?K)(\w{1,4})\s?(-|,-|\/)\s?(\w{1,4})\s?(-|,-|\/)\s?(\w{1,4})', 0) ) # (A1-A2-A45 / 1A-2A-4A / 1-2-3 / A-B-C / G/1/11 / B2,-2-23) # 30/10/22: added 'BLOK' to lookbehind coz found 'BLOKF-16-07'
                 .when( f.col('ORIGINAL_ADDRESS').rlike('(JA?LA?N\s|JA?LA?N \b\w+\b\s|JA?LA?N \b\w+\b \b\w+\b\s)(\s|,|^)(\w{1,4})\s?(-|,-|\/)\s?(\w{1,4})(\s|,)'), f.regexp_extract( f.col('ORIGINAL_ADDRESS'), '(?<!JA?LA?N\s)(?<!JA?LA?N \w{2,10}\s)(?<!JA?LA?N \w{2,10} \w{2,10}\s)(\w{1,4})\s?(-|,-|\/)\s?(\w{1,4})', 0) ) # (A2-A45 / 2A-4A / 2-3 / B-C / ...) but with JALAN names before them # 29/10/22: only for this code-line, added lookbehind regex in both rlike & extract (but they differ) for JALAN because there are streetnames like PJS 1/21 which might accidentally be taken as HouseNo
                 .when( f.col('ORIGINAL_ADDRESS').rlike('(\s|,|^)(\w{1,4})\s?(-|,-)\s?(\w{1,4})(\s|,)'), f.regexp_extract( f.col('ORIGINAL_ADDRESS'), '(\w{1,4})\s?(-|,-)\s?(\w{1,4})', 0) ) # (A2-A45 or 2A-4A or 2-3 or B-C, ...)
                 .when( f.col('ORIGINAL_ADDRESS').rlike('(\s|,|^)\d{1,4}\s?[A-Z](\s|,)'), f.regexp_extract( f.col('ORIGINAL_ADDRESS'), '\d{1,4}\s?[A-Z]', 0) ) # (265 A / 265A)
                 .when( f.col('ORIGINAL_ADDRESS').rlike('(?<!BLO?C?K\s?,?)(\s|,|^)([A-Z])\s?\d{1,4}(\s|,)'), f.regexp_extract( f.col('ORIGINAL_ADDRESS'), '(?<!BLO?C?K\s?,?)(?<=\s|,|^)([A-Z])\s?\d{1,4}', 0) ) # A32 / A 32
                 .when( f.col('ORIGINAL_ADDRESS').rlike('(NO|UNIT|LOT)\.?\s?\w{1,6}(\s|,)'), f.regexp_extract( f.col('ORIGINAL_ADDRESS'), '(?<=NO|UNIT|LOT)\.?\s?\w{1,6}', 0) ) # (NO 5 / NO. 5 / UNIT 5 / LOT 1405) # 'LOT' was added on 29/10/2022
                 .when( f.col('ORIGINAL_ADDRESS').rlike('(\s|,|^)(\d{1,4})(,|(\s*,)|\s)'), f.regexp_extract( f.col('ORIGINAL_ADDRESS'), '(?<!JA?LA?N\s)(?<!JA?LA?N \w{2,10}\s)(?<!JA?LA?N \w{2,10} \w{2,10}\s)(?<!BLO?C?K\s?,?)(?<!TINGKAT\s?,?)(?<!FASA\s?,?)(?<!LEVEL\s?,?)(?<=\s|,|^)(\d{1,4})', 0) ) # ,234 / 234 (but no TINGKAT, FASA, or LEVEL in front). # 30/10/22: added lookbehind regex to ignore the number after JALAN
                #  .when( f.col('ORIGINAL_ADDRESS').rlike('(\s|,)(\d{1,4})(,|(\s*,)|\s)'), f.regexp_extract( f.col('ORIGINAL_ADDRESS'), '(?<!BLO?C?K\s?,?)(?<=\s|,)(\d{1,4})', 0) ) # ,234, or 234, (original)
                # (?<!TINGKAT\s?)(?<!BLO?C?K\s?,?)(?<!PR) --> this last one is to avoid extracting the 1 out of the word 'PR1MA')
                 .otherwise('no House NO') 
                 )
                #  (?<!JA?LA?N)(?<!JA?LA?N \w+)(?<!JA?LA?N \w+ \w+),?

In [31]:
now=datetime.now()

#### ------------------------ Extracting BlockNo Flow (BLOCK_extracted) ------------------------
### do for Astro New Std first -- to run this whole cell as CSV: 7-8 mins. As ORC: takes 5.5 mins 
# astro_kv_clean: # 436640 rows, ../ unique acc_no

## trim + uppercase
astro_kv_clean = astro_kv_clean.withColumn('HOUSE_NO', f.upper(f.trim(f.col('HOUSE_NO'))))

## Fix HOUSE_NO. Replace specific strings (eg. "BLOK" ) with empty string (""). 29/10/2022: added line to convert slashes to dashes
astro_kv_clean = astro_kv_clean.withColumn('HOUSE_NO', f.regexp_replace(f.col('HOUSE_NO'), "\/","-"))
astro_kv_clean = astro_kv_clean.withColumn('HOUSE_NO', f.regexp_replace(f.col('HOUSE_NO'), 'NAN\s?',''))
astro_kv_clean = astro_kv_clean.withColumn('HOUSE_NO', f.regexp_replace(f.col('HOUSE_NO'), ' ','')) # 29/10/22: remove spaces as from what I've seen, there shouldn't be any spaces in HouseNo
astro_kv_clean = astro_kv_clean.withColumn('HOUSE_NO', f.regexp_replace(f.col('HOUSE_NO'), '[\[\]\.,"]',''))
# astro_kv_clean = astro_kv_clean.withColumn('HOUSE_NO', f.regexp_replace(f.col('HOUSE_NO'), "[",'')) # maybe it's this code which is causing the issue
# astro_kv_clean = astro_kv_clean.withColumn('HOUSE_NO', f.regexp_replace(f.col('HOUSE_NO'), "]",""))
astro_kv_clean = astro_kv_clean.withColumn('HOUSE_NO', f.regexp_replace(f.col('HOUSE_NO'), "'",""))
astro_kv_clean = astro_kv_clean.withColumn('HOUSE_NO', f.regexp_replace(f.col('HOUSE_NO'), "NO\s?",""))
astro_kv_clean = astro_kv_clean.withColumn('HOUSE_NO', f.regexp_replace(f.col('HOUSE_NO'), "LOT\s?",""))
astro_kv_clean = astro_kv_clean.withColumn('HOUSE_NO', f.regexp_replace(f.col('HOUSE_NO'), "UNIT\s?",""))
astro_kv_clean = astro_kv_clean.withColumn('HOUSE_NO', f.regexp_replace(f.col('HOUSE_NO'), "BLO?C?K\s?",""))
## somehow the above block of code is giving a weird error - "java.util.regex.PatternSyntaxException: Unclosed character class near index 0 [" which doesn't allow me to show or save the table. So I made changes to it and commented out the code with the "[" and "]"

# -- takes 5 mins to run just to run this portion as CSV
## Fix HOUSE_NO that were converted to date --> tested code for PySpark, looks like it works
# 29/10/2022: removed the lines that deal with non-upper-cased months (e.g Jan, Feb) since we are making everything uppercased in line above. This is to reduce runtimes & lines of code
astro_kv_clean = astro_kv_clean.withColumn('HOUSE_NO', f.regexp_replace(f.col('HOUSE_NO'), "JAN-","01-"))
astro_kv_clean = astro_kv_clean.withColumn('HOUSE_NO', f.regexp_replace(f.col('HOUSE_NO'), "-JAN","-01"))
astro_kv_clean = astro_kv_clean.withColumn('HOUSE_NO', f.regexp_replace(f.col('HOUSE_NO'), "FEB-","02-"))
astro_kv_clean = astro_kv_clean.withColumn('HOUSE_NO', f.regexp_replace(f.col('HOUSE_NO'), "-FEB",'-02'))
astro_kv_clean = astro_kv_clean.withColumn('HOUSE_NO', f.regexp_replace(f.col('HOUSE_NO'), "MAR-",'03-'))
astro_kv_clean = astro_kv_clean.withColumn('HOUSE_NO', f.regexp_replace(f.col('HOUSE_NO'), "-MAR","-03"))
astro_kv_clean = astro_kv_clean.withColumn('HOUSE_NO', f.regexp_replace(f.col('HOUSE_NO'), "APR-","04-"))
astro_kv_clean = astro_kv_clean.withColumn('HOUSE_NO', f.regexp_replace(f.col('HOUSE_NO'), "-APR","-04"))
astro_kv_clean = astro_kv_clean.withColumn('HOUSE_NO', f.regexp_replace(f.col('HOUSE_NO'), "MAY-","05-"))
astro_kv_clean = astro_kv_clean.withColumn('HOUSE_NO', f.regexp_replace(f.col('HOUSE_NO'), "-MAY","-05"))
astro_kv_clean = astro_kv_clean.withColumn('HOUSE_NO', f.regexp_replace(f.col('HOUSE_NO'), "JUN-","06-"))
astro_kv_clean = astro_kv_clean.withColumn('HOUSE_NO', f.regexp_replace(f.col('HOUSE_NO'), "-JUN","-06"))
astro_kv_clean = astro_kv_clean.withColumn('HOUSE_NO', f.regexp_replace(f.col('HOUSE_NO'), "JUL-","07-"))
astro_kv_clean = astro_kv_clean.withColumn('HOUSE_NO', f.regexp_replace(f.col('HOUSE_NO'), "-JUL","-07"))
astro_kv_clean = astro_kv_clean.withColumn('HOUSE_NO', f.regexp_replace(f.col('HOUSE_NO'), "AUG-",'08-'))
astro_kv_clean = astro_kv_clean.withColumn('HOUSE_NO', f.regexp_replace(f.col('HOUSE_NO'), "-AUG","-08"))
astro_kv_clean = astro_kv_clean.withColumn('HOUSE_NO', f.regexp_replace(f.col('HOUSE_NO'), "SEP-","09-"))
astro_kv_clean = astro_kv_clean.withColumn('HOUSE_NO', f.regexp_replace(f.col('HOUSE_NO'), "-SEP","-09"))
astro_kv_clean = astro_kv_clean.withColumn('HOUSE_NO', f.regexp_replace(f.col('HOUSE_NO'), "OCT-","10-"))
astro_kv_clean = astro_kv_clean.withColumn('HOUSE_NO', f.regexp_replace(f.col('HOUSE_NO'), "-OCT","-10"))
astro_kv_clean = astro_kv_clean.withColumn('HOUSE_NO', f.regexp_replace(f.col('HOUSE_NO'), "NOV-","11-"))
astro_kv_clean = astro_kv_clean.withColumn('HOUSE_NO', f.regexp_replace(f.col('HOUSE_NO'), "-NOV","-11"))
astro_kv_clean = astro_kv_clean.withColumn('HOUSE_NO', f.regexp_replace(f.col('HOUSE_NO'), "DEC-","12-"))
astro_kv_clean = astro_kv_clean.withColumn('HOUSE_NO', f.regexp_replace(f.col('HOUSE_NO'), "-DEC","-12"))

# Fix HOUSE_NO that are converted to date (DD/MM/YYYY format) --> tested code for PySpark. Looks like it works
# Filter date HOUSE_NO
date_house = astro_kv_clean.filter(f.regexp_extract('HOUSE_NO', '^([0-2][0-9]|(3)[0-1])(\/)(((0)[0-9])|((1)[0-2]))(\/)\d{4}$', 0) != '' ) 
# Spliting the HOUSE_NO
date_house = date_house.withColumn('block_date',  f.substring(date_house.HOUSE_NO, 1, 2))
date_house = date_house.withColumn('floor',  f.substring(date_house.HOUSE_NO, 4, 2))
date_house = date_house.withColumn('unit',  f.substring(date_house.HOUSE_NO, 9, 2))
# Combine the split HOUSE_NO with dashes: '-'
date_house = date_house.withColumn('HOUSE_NO_ASTRO', f.concat_ws('-', date_house.block_date, date_house.floor, date_house.unit))
# Remove additional column created to combine HOUSE_NO
date_house = date_house.drop(*['block_date','floor','unit'])
# print(date_house.select('ACCOUNT_NO').count(), date_house.select(f.countDistinct('ACCOUNT_NO')).show()) # 0 rows, 0 unique acc_no

# Filter not date HOUSE_NO
not_date_house = astro_kv_clean.filter( f.regexp_extract('HOUSE_NO', '^([0-2][0-9]|(3)[0-1])(\/)(((0)[0-9])|((1)[0-2]))(\/)\d{4}$', 0) == '' )
not_date_house = not_date_house.withColumn('HOUSE_NO_ASTRO', f.col('HOUSE_NO'))
# print(not_date_house.select('ACCOUNT_NO').count(), not_date_house.select(f.countDistinct('ACCOUNT_NO')).show()) # 716792  rows, 605387 unique acc_no

# Filter for null HOUSE_NO
null_house_no = astro_kv_clean.filter( f.col('HOUSE_NO').isNull() )
null_house_no = null_house_no.withColumn('HOUSE_NO_ASTRO', f.col('HOUSE_NO'))
# print(null_house_no.select('ACCOUNT_NO').count(), null_house_no.select(f.countDistinct('ACCOUNT_NO')).show()) # this gives 0 rows & 0 unique acc_no

# Append the dfs --> Original appending (just date_house & not_date_house) removes the rows where HOUSE_NO is NULL. But I think we should keep those cases because we can still map them as P2 MDU
astro_kv_clean_1 = date_house.union(not_date_house).union(null_house_no)

## pad the values so it won't convert to date again. Note, the null HOUSE_NO will still stay null after this padding step.
astro_kv_clean_1 = astro_kv_clean_1.withColumn('HOUSE_NO', f.lpad(astro_kv_clean_1['HOUSE_NO_ASTRO'], 10, ' '))

# -- takes 1-3 mins to run as CSV, 1.5mins as ORC

## remove commas, dots (other special characters?) in Combined_Building. # 13/12/22: changed to Building_Coalesced
astro_kv_clean_1 = astro_kv_clean_1.withColumn('Building_Coalesced', f.regexp_replace('Building_Coalesced', '[\.,"]', '') )
astro_kv_clean_1 = astro_kv_clean_1.withColumn('Building_Coalesced', f.regexp_replace('Building_Coalesced', "'", "") )

## create BLOCK_extracted by: extract after the word BLOCK/BLOK from Combined_Building --> extract after the word BLOCK/BLOK from ORIGINAL_ADDRESS --> extract after the word BLOCK/BLOK from HOUSE_NO --> extract from character before dash in HUSE_NO --> extract from character before dashes in ORIGINAL_ADDRESS
## 29/10/22: in bottom 3 code-lines (extracting from strings with dashes) changed the '\w+' to \w{1,3} to enforce exctraction of only alphanumeric words of length 1-3
# 13/12/22: changed Combined_Building to Building_Coalesced
from pyspark.sql.functions import when
astro_kv_clean_1 = astro_kv_clean_1.withColumn('BLOCK_extracted', 
                    when( f.col('Building_Coalesced').rlike('BLO?C?K \w{1,3}'), f.regexp_extract( f.col('Building_Coalesced'), '(?<=BLO?C?K.?\s)\w+', 0) ) # check for BLOCK regex in Building_Coalesced (BLK 2A) & get the first 'word' after it ('2A')
                    .when( f.col('ORIGINAL_ADDRESS').rlike('BLO?C?K \w{1,3}'), f.regexp_extract( f.col('ORIGINAL_ADDRESS'), '(?<=BLO?C?K.?\s)\w+', 0) ) # check for BLOCK regex in ORIGINAL_ADDRESS (BLK 2A) & get the first 'word' after it ('2A')
                    .when( f.col('HOUSE_NO').rlike('BLO?C?K \w{1,3}'), f.regexp_extract( f.col('HOUSE_NO'), '(?<=BLO?C?K.?\s)\w+', 0) ) # check for BLOCK regex in HOUSE_NO (BLK 2A) & get the first 'word' after it ('2A')
                    
                    .when( f.col('HOUSE_NO').rlike('(?<=,*)\w{1,3}(?=,?-\w{1,3}-)'), f.regexp_extract( f.col('HOUSE_NO'), '(?<=,*)\w{1,3}(?=,?-\w{1,3}-)', 0) )  # check for HOUSE_NO that has 2 dashes using regex (B-2-1) & get the 1st 1st character ('B'). Use * in lookbehind instead of + because HOUSE_NO probably won't have commas before the number anymore. 
                    .when( f.col('ORIGINAL_ADDRESS').rlike('(?<=,*)\w{1,3}(?=,?-\w{1,3}-)'), f.regexp_extract( f.col('ORIGINAL_ADDRESS'), '(?<=,*)\w{1,3}(?=,?-\w{1,3}-)', 0) )  # check for ORIGINAL_ADDRESS that has 2 dashes using regex (B-2-1) & get the 1st character ('B'). 
                    .when( f.col('HOUSE_NO').rlike('\w{1,3}\s?-\w{1,3}'), f.regexp_extract( f.col('HOUSE_NO'), '\w{1,3}(?=-\w+)', 0) ) # check for HOUSE_NO that has 1 dash using regex (B-2) & only take 1st character from start of string from HOUSE_NO ('B'). 
                    # .when( f.col('HOUSE_NO').rlike('.+-.+'), 'noBlock' ) # maybe BlockNo not extracted from EDW step?
                    # .when( f.col('ORIGINAL_ADDRESS').rlike('BLO?C?K'), f.regexp_extract( f.col('ORIGINAL_ADDRESS'), '(?<=BLO?C?K\s)\w+', 0) ) # check for BLOCK regex in ORIGINAL_ADDRESS,
                    # .when( f.col('HOUSE_NO').isNull(), f.col('HOUSE_NO') ) # just returns null for next step
                    .otherwise( 'noBlock' ) # cases where no Block No was extracted in EDW Step
                    )

## save a temporary intermediate file (coz subsequent steps still caused spark cluster to crash, even when using astro_kv1 ORC file)
astro_kv_clean_1.write.orc(temporary_save_path+'{0}/Astro_newMDUcleaningflow.orc'.format(curr_date), mode="overwrite", compression='snappy')

del astro_kv_clean_1 # -- if required

end = datetime.now()
print(str(end - now))

In [32]:
now = datetime.now()

# read file back in as orc - this seems to cause most of cleaning steps to run faster
astro_kv_clean_1 = spark.read.orc(temporary_save_path+'{0}/Astro_newMDUcleaningflow.orc'.format(curr_date))
# print(astro_kv_clean_1.select('ACCOUNT_NO').count(), astro_kv_clean_1.select(f.countDistinct('ACCOUNT_NO')).show()) # 716792 rows & 605387 unique account_NO

#### ------------------------------------------------ POTENTIAL OVERALL FLOW ------------------------------------------------
# Astro New Std Building cleaning -- takes 5-10 mins as CSV, 5 mins as ORC (in previous run, when I saved an intermediate ORC file after BLOCK_extracted step, this only took 1 sec though...)

# - Potential Overall Flow: extract BlockNo --> create new test new_building_name column --> remove FTTH --> standardize CONDO --> remove BLOCK + 'word' after it -->  remove FLAT, PPR, PANGSAPURI, APARTMENT --> further clean BLOCK_extracted column before appending --> (For P1 MDU, consider new column for this step, maybe new_block_building_name) append the extracted BlockNo to the front of new_building_name --> consider making a Set out of the words in new_building_name (avoid repeat words) and alphabetically order words (create joined_set) --> use joined_set in mapping key

## BlockNo extracted in earlier step
## create new_building_name column for testing
# astro_kv_clean_2 = astro_kv_clean_1.withColumn('new_building_name', f.col('Combined_Building') ) # 13/12/22: commented out this line and used Building_Coalesced instead
astro_kv_clean_2 = astro_kv_clean_1.withColumn('new_building_name', f.col('Building_Coalesced') )

## Remove 'FTTH' from Combined Building
astro_kv_clean_2 = astro_kv_clean_2.withColumn('new_building_name', f.regexp_replace('new_building_name', 'FTTH\s', '') ) # removes any 'FTTH ' at start of line

## remove BLOCK from new_building_name
astro_kv_clean_2 = astro_kv_clean_2.withColumn('new_building_name', f.regexp_replace('new_building_name', 'BLO?C?K\s?\w{1,3}(?=\s[A-Z]*|$)', '') ) # removes any 'BLK/BLOK/BLOCK 13A' where the word/character set after BLOK is between 1-3 characters. Does not remove if the word after BLOK is more than 3 characters e.g won't remove 'BLK/BLOK/BLOCK TERATAI'

## standardize CONDO --> remove FLAT, PPR, PANGSAPURI, APARTMENT 
astro_kv_clean_2 = astro_kv_clean_2.withColumn('new_building_name', f.regexp_replace('new_building_name', '[CK]ONDO(?=\s[A-Z]*|$)', 'CONDOMINIUM') ) # replaces C/KONDO with 'CONDOMINIUM'
astro_kv_clean_2 = astro_kv_clean_2.withColumn('new_building_name', f.regexp_replace('new_building_name', 'KONDOMINIUM', 'CONDOMINIUM') ) # replaces KONDOMINIUM with 'CONDOMINIUM'
astro_kv_clean_2 = astro_kv_clean_2.withColumn('new_building_name', f.regexp_replace('new_building_name', '\s?FLAT\s?', '') ) # removes any 'FLAT'
astro_kv_clean_2 = astro_kv_clean_2.withColumn('new_building_name', f.regexp_replace('new_building_name', '\s?PPR\s?', '') ) # removes any 'PPR'
astro_kv_clean_2 = astro_kv_clean_2.withColumn('new_building_name', f.regexp_replace('new_building_name', '\s?AP\w*T\s?', '') ) # removes any word that starts with AP and ends with T (APARTMENT) 
astro_kv_clean_2 = astro_kv_clean_2.withColumn('new_building_name', f.regexp_replace('new_building_name', '\s?P.*PURI\s?', '') ) # removes any word that starts with P and ends with PURI (PANGSAPURI)

## clean BLOCK_extracted column before appending (coz still got 'noBlock' and weird values where it's the condo name then a comma then only the Block No) # -- takes 1 min to run
astro_kv_clean_2 = astro_kv_clean_2.withColumn('BLOCK_extracted', 
                    when( f.col('BLOCK_extracted').contains(','), f.regexp_extract( f.col('BLOCK_extracted'), '(?<=,).+', 0) )
                    .when( f.col('BLOCK_extracted') == 'noBlock', '')
                    .otherwise( f.col('BLOCK_extracted') ) 
                    )

## -- 3-8 mins to run as CSV, 3 mins as ORC (in previous run, when I saved an intermediate ORC file after BLOCK_extracted step, this only took 1 sec though...)
## create new column which appends BLOCK_extracted to new_building_name (P1 MDU) but keep new_building_name BLOK-less for P2 MDU
astro_kv_clean_2 = astro_kv_clean_2.withColumn('new_block_building_name', f.concat_ws(' ', astro_kv_clean_2.BLOCK_extracted, astro_kv_clean_2.new_building_name) )

## trim & uppercase
astro_kv_clean_2 = astro_kv_clean_2.withColumn('new_building_name', f.trim(f.upper(astro_kv_clean_2.new_building_name)) )
astro_kv_clean_2 = astro_kv_clean_2.withColumn('new_block_building_name', f.trim(f.upper(astro_kv_clean_2.new_block_building_name)) )

## make a set of the words in each row then alphabetically arrange (similar to fuzzy's TokenSetRatio: https://github.com/seatgeek/fuzzywuzzy/blob/master/fuzzywuzzy/fuzz.py)
# relevant pyspark docs: https://spark.apache.org/docs/3.1.2/api/python/reference/api/pyspark.sql.functions.split.html, https://spark.apache.org/docs/3.1.1/api/python/reference/api/pyspark.sql.functions.array_sort.html, https://spark.apache.org/docs/3.1.1/api/python/reference/api/pyspark.sql.functions.array_distinct.html
# astro_kv_clean_2 = astro_kv_clean_2.withColumn('sorted_set', sorted(f.collect_set(f.split(f.col('new_block_building_name'), pattern=' ', limit=-1))) )
astro_kv_clean_2 = astro_kv_clean_2.withColumn('sorted_set', f.array_sort(f.array_distinct(f.split(f.col('new_block_building_name'), pattern=' '))) )

## join the values in sorted_set back together into a string column
astro_kv_clean_2 = astro_kv_clean_2.withColumn('joined_set', f.concat_ws(" ", f.col("sorted_set")) )

### ------------------------------ final cleaning + coalescing (use columns read in that were already coalesced ------------------------------

## ensuring the columns that will be used in the mapping key (P1P2 MDU/SDU) are trimmed + upper case. 13/12/22: changed some of these cols to use the Coalesced versions
astro_kv_clean_2 = astro_kv_clean_2.withColumn('HOUSE_NO', f.upper(f.trim(f.col('HOUSE_NO')))) ## THIS STEP would cancel out the padding done when in code cell that cleaned HOUSE_NO above but since we need to add the HOUSE_NO into the mapping key, maybe it's best to do the padding later on again. Or consider only padding if the file has to go through CSV again?
astro_kv_clean_2 = astro_kv_clean_2.withColumn('joined_set', f.upper(f.trim(f.col('joined_set'))))
astro_kv_clean_2 = astro_kv_clean_2.withColumn('Street_1', f.upper(f.trim(f.col('Street_1'))))
astro_kv_clean_2 = astro_kv_clean_2.withColumn('CITY_Coalesced', f.upper(f.trim(f.col('CITY_Coalesced'))))
astro_kv_clean_2 = astro_kv_clean_2.withColumn('AREA_Coalesced', f.upper(f.trim(f.col('AREA_Coalesced'))))
astro_kv_clean_2 = astro_kv_clean_2.withColumn('POSTCODE_Coalesced', f.upper(f.trim(f.col('POSTCODE_Coalesced'))))
astro_kv_clean_2 = astro_kv_clean_2.withColumn('STATE_Coalesced', f.upper(f.trim(f.col('STATE_Coalesced'))))
# astro_kv_clean_2 = astro_kv_clean_2.withColumn('STD_CITY', f.upper(f.trim(f.col('STD_CITY'))))
# 12/10/2022, added AREA after deciding I want to compare P1 MDU numbers when HNUM_STRT has AREA vs does not have AREA
# astro_kv_clean_2 = astro_kv_clean_2.withColumn('AREA', f.upper(f.trim(f.col('AREA')))) 
# astro_kv_clean_2 = astro_kv_clean_2.withColumn('AREA/SECTION', f.upper(f.trim(f.col('AREA/SECTION')))) ## 13/12/22: did not read in this column anymore

## 12/10/2022 - coalesce the multiple AREA columns # 13/12/22: commented out this line (not nescessary anymore as the new std base now has AREA_coalesced directly
# astro_kv_clean_2 = astro_kv_clean_2.withColumn('AREA_coalesced', f.coalesce(f.col('AREA'), f.col('AREA/SECTION')) ) 

## Combine address columns(HOUSE_NO,...) to generate a new column named COMBINED_ADD -- this is the 'standardized' address. # 13/12/22: used the Coalesced cols instead
# astro_kv_clean_2 = astro_kv_clean_2.withColumn('COMBINED_ADD', f.concat_ws(' ,', astro_kv_clean_2["HOUSE_NO"],  astro_kv_clean_2["Combined_Building"], astro_kv_clean_2["Street_1"], astro_kv_clean_2["AREA"], astro_kv_clean_2["POSTCODE"], astro_kv_clean_2["STD_CITY"], astro_kv_clean_2["ASTRO_STATE"]) )
# astro_kv_clean_2 = astro_kv_clean_2.withColumn('COMBINED_ADD', f.concat_ws(' ,', astro_kv_clean_2["HOUSE_NO"],  astro_kv_clean_2["Combined_Building"], astro_kv_clean_2["Street_1"], astro_kv_clean_2["AREA_coalesced"], astro_kv_clean_2["POSTCODE"], astro_kv_clean_2["STD_CITY"], astro_kv_clean_2["ASTRO_STATE"]) ) ## 12/10/2022 - used AREA_coalesced instead of AREA
astro_kv_clean_2 = astro_kv_clean_2.withColumn('COMBINED_ADD', f.concat_ws(' ,', astro_kv_clean_2["HOUSE_NO"],  astro_kv_clean_2["Building_Coalesced"], astro_kv_clean_2["Street_1"], astro_kv_clean_2["AREA_coalesced"], astro_kv_clean_2["POSTCODE_Coalesced"], astro_kv_clean_2["CITY_Coalesced"], astro_kv_clean_2["STATE_Coalesced"]) ) ## 12/10/2022 - used AREA_coalesced instead of AREA

## Pad the HOUSE_NO column not to change to date again --- THIS STEP was already done when cleaning HOUSE_NO above
# astro_kv_clean_2 = astro_kv_clean_2.withColumn( 'ASTRO_HOUSE_NO1', f.lpad(f.col('HOUSE_NO').cast('string'), 10, ' ') )

## save a temporary intermediate file (coz quite a lot of the previous cleaning steps caused spark cluster to crash when they were run on CSV files)
astro_kv_clean_2.write.orc(temporary_save_path+'{0}/Astro_newMDUcleaningflow_1.orc'.format(curr_date), mode="overwrite", compression='snappy')

del astro_kv_clean_2

end = datetime.now()
print(str(end - now))

# Implement the New Flow for ISP MDUs

In [22]:
now = datetime.now()

#### ------------------------ Extracting BlockNo Flow (BLOCK_extracted) ------------------------
### now do for TM New Std -- takes 38 mins to run as ORC
## Note for TM, no need to extract HouseNo as they have it in their own column + they don't have a 'full' concatenated address column
# tm_kv_clean: 1483206 rows, 43821 unique address_key, 717389 unique original_addr (excluding HouseNo)

# # read Astro & TM files back in as orc - this seems to cause the rest of the steps to run faster
# # also decided to rename astro_kv1 to astro_kv_clean directly and do the same for TM
tm_kv_clean = spark.read.orc(temporary_save_path+'{0}/TM_MDUonly.orc'.format(curr_date))

# print(tm_kv_clean.select('Combined_Building').count(), tm_kv_clean.select(f.countDistinct('ORIGINAL_ADDRESS')).show()) # 3,475,286 rows, 103824 unique address_key, 972413 unique original_addr (excluding HouseNo)

## trim + uppercase
tm_kv_clean = tm_kv_clean.withColumn('HouseNo', f.upper(f.trim(f.col('HouseNo'))))

## Fix HouseNo. Replace specific strings (eg. "BLOK" ) with empty string (""). 29/10/2022: added line to convert slashes to dashes
tm_kv_clean = tm_kv_clean.withColumn('HouseNo', f.regexp_replace(f.col('HouseNo'), "\/","-"))
tm_kv_clean = tm_kv_clean.withColumn('HouseNo', f.regexp_replace(f.col('HouseNo'), 'NAN\s?',''))
tm_kv_clean = tm_kv_clean.withColumn('HouseNo', f.regexp_replace(f.col('HouseNo'), ' ','')) # 29/10/22: remove spaces as from what I've seen, there shouldn't be any spaces in HouseNo
tm_kv_clean = tm_kv_clean.withColumn('HouseNo', f.regexp_replace(f.col('HouseNo'), '[\[\]\.,"]',''))
# tm_kv_clean = tm_kv_clean.withColumn('HouseNo', f.regexp_replace(f.col('HouseNo'), "[",'')) # maybe it's this code which is causing the issue
# tm_kv_clean = tm_kv_clean.withColumn('HouseNo', f.regexp_replace(f.col('HouseNo'), "]",""))
tm_kv_clean = tm_kv_clean.withColumn('HouseNo', f.regexp_replace(f.col('HouseNo'), "'",""))
tm_kv_clean = tm_kv_clean.withColumn('HouseNo', f.regexp_replace(f.col('HouseNo'), "NO\s?",""))
tm_kv_clean = tm_kv_clean.withColumn('HouseNo', f.regexp_replace(f.col('HouseNo'), "LOT\s?",""))
tm_kv_clean = tm_kv_clean.withColumn('HouseNo', f.regexp_replace(f.col('HouseNo'), "UNIT\s?",""))
tm_kv_clean = tm_kv_clean.withColumn('HouseNo', f.regexp_replace(f.col('HouseNo'), "BLO?C?K\s?",""))
## somehow the above block of code is giving a weird error - "java.util.regex.PatternSyntaxException: Unclosed character class near index 0 [" which doesn't allow me to show or save the table. So I made changes to it and commented out the code with the "[" and "]"

# -- takes 5 mins to run just to run this portion as CSV
## Fix HouseNo that were converted to date --> tested code for PySpark, looks like it works
# 29/10/2022: removed the lines that deal with non-upper-cased months (e.g Jan, Feb) since we are making everything uppercased in line above. This is to reduce runtimes & lines of code
tm_kv_clean = tm_kv_clean.withColumn('HouseNo', f.regexp_replace(f.col('HouseNo'), "JAN-","01-"))
tm_kv_clean = tm_kv_clean.withColumn('HouseNo', f.regexp_replace(f.col('HouseNo'), "-JAN","-01"))
tm_kv_clean = tm_kv_clean.withColumn('HouseNo', f.regexp_replace(f.col('HouseNo'), "FEB-","02-"))
tm_kv_clean = tm_kv_clean.withColumn('HouseNo', f.regexp_replace(f.col('HouseNo'), "-FEB",'-02'))
tm_kv_clean = tm_kv_clean.withColumn('HouseNo', f.regexp_replace(f.col('HouseNo'), "MAR-",'03-'))
tm_kv_clean = tm_kv_clean.withColumn('HouseNo', f.regexp_replace(f.col('HouseNo'), "-MAR","-03"))
tm_kv_clean = tm_kv_clean.withColumn('HouseNo', f.regexp_replace(f.col('HouseNo'), "APR-","04-"))
tm_kv_clean = tm_kv_clean.withColumn('HouseNo', f.regexp_replace(f.col('HouseNo'), "-APR","-04"))
tm_kv_clean = tm_kv_clean.withColumn('HouseNo', f.regexp_replace(f.col('HouseNo'), "MAY-","05-"))
tm_kv_clean = tm_kv_clean.withColumn('HouseNo', f.regexp_replace(f.col('HouseNo'), "-MAY","-05"))
tm_kv_clean = tm_kv_clean.withColumn('HouseNo', f.regexp_replace(f.col('HouseNo'), "JUN-","06-"))
tm_kv_clean = tm_kv_clean.withColumn('HouseNo', f.regexp_replace(f.col('HouseNo'), "-JUN","-06"))
tm_kv_clean = tm_kv_clean.withColumn('HouseNo', f.regexp_replace(f.col('HouseNo'), "JUL-","07-"))
tm_kv_clean = tm_kv_clean.withColumn('HouseNo', f.regexp_replace(f.col('HouseNo'), "-JUL","-07"))
tm_kv_clean = tm_kv_clean.withColumn('HouseNo', f.regexp_replace(f.col('HouseNo'), "AUG-",'08-'))
tm_kv_clean = tm_kv_clean.withColumn('HouseNo', f.regexp_replace(f.col('HouseNo'), "-AUG","-08"))
tm_kv_clean = tm_kv_clean.withColumn('HouseNo', f.regexp_replace(f.col('HouseNo'), "SEP-","09-"))
tm_kv_clean = tm_kv_clean.withColumn('HouseNo', f.regexp_replace(f.col('HouseNo'), "-SEP","-09"))
tm_kv_clean = tm_kv_clean.withColumn('HouseNo', f.regexp_replace(f.col('HouseNo'), "OCT-","10-"))
tm_kv_clean = tm_kv_clean.withColumn('HouseNo', f.regexp_replace(f.col('HouseNo'), "-OCT","-10"))
tm_kv_clean = tm_kv_clean.withColumn('HouseNo', f.regexp_replace(f.col('HouseNo'), "NOV-","11-"))
tm_kv_clean = tm_kv_clean.withColumn('HouseNo', f.regexp_replace(f.col('HouseNo'), "-NOV","-11"))
tm_kv_clean = tm_kv_clean.withColumn('HouseNo', f.regexp_replace(f.col('HouseNo'), "DEC-","12-"))
tm_kv_clean = tm_kv_clean.withColumn('HouseNo', f.regexp_replace(f.col('HouseNo'), "-DEC","-12"))

# Fix HouseNo that are converted to date (DD/MM/YYYY format) --> tested code for PySpark. Looks like it works
# Filter date HouseNo
date_house = tm_kv_clean.filter(f.regexp_extract('HouseNo', '^([0-2][0-9]|(3)[0-1])(\/)(((0)[0-9])|((1)[0-2]))(\/)\d{4}$', 0) != '' ) 
# Spliting the HOUSE_NO
date_house = date_house.withColumn('block_date',  f.substring(date_house.HouseNo, 1, 2))
date_house = date_house.withColumn('floor',  f.substring(date_house.HouseNo, 4, 2))
date_house = date_house.withColumn('unit',  f.substring(date_house.HouseNo, 9, 2))
# Combine the split HouseNo with dashes: '-'
date_house = date_house.withColumn('HOUSE_NO_TM', f.concat_ws('-', date_house.block_date, date_house.floor, date_house.unit))
# Remove additional column created to combine HouseNo
date_house = date_house.drop(*['block_date','floor','unit']) # 0 rows

# Filter not date HouseNo
not_date_house = tm_kv_clean.filter( f.regexp_extract('HouseNo', '^([0-2][0-9]|(3)[0-1])(\/)(((0)[0-9])|((1)[0-2]))(\/)\d{4}$', 0) == '' )
not_date_house = not_date_house.withColumn('HOUSE_NO_TM', f.col('HouseNo'))

# Append the 2 df again --> for TM, we don't need to append null HOUSE_NO because there are no nulls in that column
tm_kv_clean_1 = date_house.union(not_date_house)
# print(tm_kv_clean_1.select('ORIGINAL_ADDRESS').count(), tm_kv_clean_1.select(f.countDistinct('ORIGINAL_ADDRESS')).show()) tm_kv_clean_1: 3407094 rows, 974034 unique original_addr (excluding HouseNo)

## pad the values so it won't convert to date again -- note this step is done slightly different compared to the same padding step in code cell for Astro HOUSE_NO cleaning above as I keep HOUSE_NO_TM as the padded column. This is so I can compare the house numbers from TM file & Astro file after P1P2 mapping
tm_kv_clean_1 = tm_kv_clean_1.withColumn('HOUSE_NO_TM', f.lpad(tm_kv_clean_1['HOUSE_NO_TM'], 10, ' '))

# -- takes 20s as ORC

## remove commas, dots (other special characters?) in Combined_Building
tm_kv_clean_1 = tm_kv_clean_1.withColumn('Combined_Building', f.regexp_replace('Combined_Building', '[\.,"]', '') )
tm_kv_clean_1 = tm_kv_clean_1.withColumn('Combined_Building', f.regexp_replace('Combined_Building', "'", "") )

## create BLOCK_extracted by: extract after the word BLOCK/BLOK from Combined_Building --> extract after the word BLOCK/BLOK from ORIGINAL_ADDRESS --> extract after the word BLOCK/BLOK from HOUSE_NO_TM --> extract from character before dash in HUSE_NO --> extract from character before dashes in ORIGINAL_ADDRESS
## 29/10/22: in bottom 3 code-lines (extracting from strings with dashes) changed the '\w+' to \w{1,3} to enforce exctraction of only alphanumeric words of length 1-3
from pyspark.sql.functions import when
tm_kv_clean_1 = tm_kv_clean_1.withColumn('BLOCK_extracted', 
                    when( f.col('Combined_Building').rlike('BLO?C?K \w{1,3}'), f.regexp_extract( f.col('Combined_Building'), '(?<=BLO?C?K.?\s)\w+', 0) ) # check for BLOCK regex in Combined_Building (BLK 2A) & get the first 'word' after it ('2A')
                    .when( f.col('ORIGINAL_ADDRESS').rlike('BLO?C?K \w{1,3}'), f.regexp_extract( f.col('ORIGINAL_ADDRESS'), '(?<=BLO?C?K.?\s)\w+', 0) ) # check for BLOCK regex in ORIGINAL_ADDRESS (BLK 2A) & get the first 'word' after it ('2A')
                    .when( f.col('HOUSE_NO_TM').rlike('BLO?C?K \w{1,3}'), f.regexp_extract( f.col('HOUSE_NO_TM'), '(?<=BLO?C?K.?\s)\w+', 0) ) # check for BLOCK regex in HOUSE_NO_TM (BLK 2A) & get the first 'word' after it ('2A')
                    
                    .when( f.col('HOUSE_NO_TM').rlike('(?<=,*)\w{1,3}(?=,?-\w{1,3}-)'), f.regexp_extract( f.col('HOUSE_NO_TM'), '(?<=,*)\w{1,3}(?=,?-\w{1,3}-)', 0) )  # check for HOUSE_NO_TM that has 2 dashes using regex (B-2-1) & get the 1st 1st character ('B'). Use * in lookbehind instead of + because HOUSE_NO_TM probably won't have commas before the number anymore. 
                    .when( f.col('ORIGINAL_ADDRESS').rlike('(?<=,*)\w{1,3}(?=,?-\w{1,3}-)'), f.regexp_extract( f.col('ORIGINAL_ADDRESS'), '(?<=,*)\w{1,3}(?=,?-\w{1,3}-)', 0) )  # check for ORIGINAL_ADDRESS that has 2 dashes using regex (B-2-1) & get the 1st character ('B'). 
                    .when( f.col('HOUSE_NO_TM').rlike('\w{1,3}\s?-\w{1,3}'), f.regexp_extract( f.col('HOUSE_NO_TM'), '\w{1,3}(?=-\w+)', 0) ) # check for HOUSE_NO_TM that has 1 dash using regex (B-2) & only take 1st character from start of string from HOUSE_NO_TM ('B'). 
                    # .when( f.col('HOUSE_NO_TM').rlike('.+-.+'), 'noBlock' ) # maybe BlockNo not extracted from EDW step?
                    # .when( f.col('ORIGINAL_ADDRESS').rlike('BLO?C?K'), f.regexp_extract( f.col('ORIGINAL_ADDRESS'), '(?<=BLO?C?K\s)\w+', 0) ) # check for BLOCK regex in ORIGINAL_ADDRESS,
                    # .when( f.col('HOUSE_NO_TM').isNull(), f.col('HOUSE_NO_TM') ) # just returns null for next step
                    .otherwise( 'noBlock' ) # cases where no Block No was extracted in EDW Step
                    )

## save a temporary intermediate file (coz subsequent steps still caused spark cluster to crash, even when using tm_kv1 ORC file) -- takes 5 mins to run
tm_kv_clean_1.write.orc(temporary_save_path+'{0}/TM_newMDUcleaningflow.orc'.format(curr_date), mode="overwrite", compression='snappy')
del tm_kv_clean_1

end = datetime.now()
print(str(end - now))

In [4]:
now=datetime.now()

# read file back in as orc - this seems to cause most of cleaning steps to run faster
tm_kv_clean_1 = spark.read.orc(temporary_save_path+'{0}/TM_newMDUcleaningflow.orc'.format(curr_date))
# print(tm_kv_clean_1.select('ORIGINAL_ADDRESS').count(), tm_kv_clean_1.select(f.countDistinct('ORIGINAL_ADDRESS')).show()) # tm_kv_clean_1: 3407094 rows, 972413 unique original_addr (excluding HouseNo)

#### ------------------------------------------------ POTENTIAL OVERALL FLOW ISP ------------------------------------------------
# TM New Std Building cleaning -- takes 1 sec to run as ORC

# - Potential Overall Flow: extract BlockNo --> create new test new_building_name column --> remove FTTH --> standardize CONDO --> remove BLOCK + 'word' after it --> remove FLAT, PPR, PANGSAPURI, APARTMENT --> further clean BLOCK_extracted column before appending --> (For P1 MDU, consider new column for this step, maybe new_block_building_name) append the extracted BlockNo to the front of new_building_name --> consider making a Set out of the words in new_building_name (avoid repeat words) and alphabetically order words (create joined_set) --> use joined_set in mapping key

## BlockNo extracted in earlier step
## create new_building_name column for testing
tm_kv_clean_2 = tm_kv_clean_1.withColumn('new_building_name', f.col('Combined_Building') )

## Remove 'FTTH' from Combined Building
tm_kv_clean_2 = tm_kv_clean_2.withColumn('new_building_name', f.regexp_replace('new_building_name', 'FTTH\s', '') ) # removes any 'FTTH ' at start of line

## remove BLOCK from new_building_name
tm_kv_clean_2 = tm_kv_clean_2.withColumn('new_building_name', f.regexp_replace('new_building_name', 'BLO?C?K\s?\w{1,3}(?=\s[A-Z]*|$)', '') ) # removes any 'BLK/BLOK/BLOCK 13A' where the word/character set after BLOK is between 1-3 characters. Does not remove if the word after BLOK is more than 3 characters e.g won't remove 'BLK/BLOK/BLOCK TERATAI'

## standardize CONDO --> remove FLAT, PPR, PANGSAPURI, APARTMENT 
tm_kv_clean_2 = tm_kv_clean_2.withColumn('new_building_name', f.regexp_replace('new_building_name', '[CK]ONDO(?=\s[A-Z]*|$)', 'CONDOMINIUM') ) # replaces C/KONDO with 'CONDOMINIUM'
tm_kv_clean_2 = tm_kv_clean_2.withColumn('new_building_name', f.regexp_replace('new_building_name', 'KONDOMINIUM', 'CONDOMINIUM') ) # replaces KONDOMINIUM with 'CONDOMINIUM'
tm_kv_clean_2 = tm_kv_clean_2.withColumn('new_building_name', f.regexp_replace('new_building_name', '\s?FLAT\s?', '') ) # removes any 'FLAT'
tm_kv_clean_2 = tm_kv_clean_2.withColumn('new_building_name', f.regexp_replace('new_building_name', '\s?PPR\s?', '') ) # removes any 'PPR'
tm_kv_clean_2 = tm_kv_clean_2.withColumn('new_building_name', f.regexp_replace('new_building_name', '\s?AP\w*T\s?', '') ) # removes any word that starts with AP and ends with T (APARTMENT) 
tm_kv_clean_2 = tm_kv_clean_2.withColumn('new_building_name', f.regexp_replace('new_building_name', '\s?P.*PURI\s?', '') ) # removes any word that starts with P and ends with PURI (PANGSAPURI)

## clean BLOCK_extracted column before appending (coz still got 'noBlock' and weird values where it's the condo name then a comma then only the Block No) # -- takes 1 min to run
tm_kv_clean_2 = tm_kv_clean_2.withColumn('BLOCK_extracted', 
                    when( f.col('BLOCK_extracted').contains(','), f.regexp_extract( f.col('BLOCK_extracted'), '(?<=,).+', 0) )
                    .when( f.col('BLOCK_extracted') == 'noBlock', '')
                    .otherwise( f.col('BLOCK_extracted') ) 
                    )

## -- takes 1 sec to run as ORC
## create new column which appends BLOCK_extracted to new_building_name (P1 MDU) but keep new_building_name BLOK-less for P2 MDU
tm_kv_clean_2 = tm_kv_clean_2.withColumn('new_block_building_name', f.concat_ws(' ', tm_kv_clean_2.BLOCK_extracted, tm_kv_clean_2.new_building_name) )

## trim & uppercase
tm_kv_clean_2 = tm_kv_clean_2.withColumn('new_building_name', f.trim(f.upper(tm_kv_clean_2.new_building_name)) )
tm_kv_clean_2 = tm_kv_clean_2.withColumn('new_block_building_name', f.trim(f.upper(tm_kv_clean_2.new_block_building_name)) )

## make a set of the words in each row then alphabetically arrange (similar to fuzzy's TokenSetRatio: https://github.com/seatgeek/fuzzywuzzy/blob/master/fuzzywuzzy/fuzz.py)
# relevant pyspark docs: https://spark.apache.org/docs/3.1.2/api/python/reference/api/pyspark.sql.functions.split.html, https://spark.apache.org/docs/3.1.1/api/python/reference/api/pyspark.sql.functions.array_sort.html, https://spark.apache.org/docs/3.1.1/api/python/reference/api/pyspark.sql.functions.array_distinct.html
# tm_kv_clean_2 = tm_kv_clean_2.withColumn('sorted_set', sorted(f.collect_set(f.split(f.col('new_block_building_name'), pattern=' ', limit=-1))) )
tm_kv_clean_2 = tm_kv_clean_2.withColumn('sorted_set', f.array_sort(f.array_distinct(f.split(f.col('new_block_building_name'), pattern=' '))) )

## join the values in sorted_set back together into a string column
tm_kv_clean_2 = tm_kv_clean_2.withColumn('joined_set', f.concat_ws(" ", f.col("sorted_set")) )

### final cleaning

## ensuring the columns that will be used in the mapping key (P1P2 MDU/SDU) are trimmed + upper case
tm_kv_clean_2 = tm_kv_clean_2.withColumn('HOUSE_NO_TM', f.upper(f.trim(f.col('HOUSE_NO_TM')))) ## THIS STEP would cancel out the padding done when in code cell that cleaned HOUSE_NO above but since we need to add the HOUSE_NO_TM into the mapping key, maybe it's best to do the padding later on again. Or consider only padding if the file has to go through CSV again?
tm_kv_clean_2 = tm_kv_clean_2.withColumn('Street_1', f.upper(f.trim(f.col('Street_1'))))
tm_kv_clean_2 = tm_kv_clean_2.withColumn('joined_set', f.upper(f.trim(f.col('joined_set'))))
tm_kv_clean_2 = tm_kv_clean_2.withColumn('STD_CITY', f.upper(f.trim(f.col('STD_CITY'))))
tm_kv_clean_2 = tm_kv_clean_2.withColumn('AREA', f.upper(f.trim(f.col('AREA')))) 
tm_kv_clean_2 = tm_kv_clean_2.withColumn('Section', f.upper(f.trim(f.col('Section'))))

## 12/10/2022 - coalesce the multiple AREA columns
tm_kv_clean_2 = tm_kv_clean_2.withColumn('AREA_Coalesced', f.coalesce(f.col('Section'), f.col('AREA')) ) 

## Combine address columns(HOUSE_NO_TM,...) to generate a new column named COMBINED_ADD - checked Zohreh's notebook for Step 3.0, apparently this part is not done for ISP. Probs coz ISP will be ISP_ADDRESS, based on homepasses
# tm_kv_clean_2 = tm_kv_clean_2.withColumn('COMBINED_ADD', f.concat_ws(' ,', tm_kv_clean_2["HOUSE_NO_TM"],  tm_kv_clean_2["Combined_Building"], tm_kv_clean_2["Street_1"], tm_kv_clean_2["AREA"], tm_kv_clean_2["POSTCODE"], tm_kv_clean_2["STD_CITY"], tm_kv_clean_2["ASTRO_STATE"]) )

## Pad the HOUSE_NO_TM column not to change to date again --- THIS STEP was already done when cleaning HOUSE_NO above
# tm_kv_clean_2 = tm_kv_clean_2.withColumn( 'TM_HOUSE_NO1', f.lpad(f.col('HOUSE_NO_TM').cast('string'), 10, ' ') )

print('tm_kv_clean_2 columns:', tm_kv_clean_2.columns)
print('final tm_kv_clean_2 count:', tm_kv_clean_2.select('joined_set').count())

## save a temporary intermediate file (coz quite a lot of the previous cleaning steps caused spark cluster to crash when they were run on CSV files) -- takes 1.5min to run as ORC
tm_kv_clean_2.write.orc(temporary_save_path+'{0}/TM_newMDUcleaningflow_1.orc'.format(curr_date), mode="overwrite", compression='snappy')

del tm_kv_clean_2

end = datetime.now()
print(str(end - now))

tm_kv_clean_2 columns: ['ORIGINAL_ADDRESS', 'GEOHASH', 'LOCATION_TYPE', 'TRANSFORMED_ADDRESS', 'NUMBER_OF_RESULTS', 'FORMATTED_ADDRESS', 'Street_1', 'Street_2', 'AREA', 'CITY_GAPI', 'STATE_GAPI', 'COUNTRY', 'POSTCODE_GAPI', 'match', 'STD_CITY', 'BuildingName', 'City', 'FloorNo', 'HouseNo', 'Postcode', 'Section', 'ServiceType', 'State', 'StreetName', 'StreetType', 'Postcode_Length', 'ADDRESS', 'ADDRESS_KEY', 'Combined_Building', 'Source', 'Standard_Building_Name', 'ADDRESS_MDU', 'Address_Type', 'TM_Street', 'Street_coalesced', 'CITY_coalesced', 'HOUSE_NO_TM', 'BLOCK_extracted', 'new_building_name', 'new_block_building_name', 'sorted_set', 'joined_set', 'AREA_Coalesced']
final tm_kv_clean_2 count: 3676163
0:01:14.425750

# Start of P1P2 MDU Mapping
First, read in Astro & TM Files post-new MDU Cleaning Flow

In [6]:
print(astro_kv_clean_2.count()) # 716792
print(tm_kv_clean_2.count()) # 3407094

713550
3676163

In [5]:
# del astro_kv_clean_2 # - if required
# read file back in as orc - this seems to cause most of cleaning steps to run faster
astro_kv_clean_2 = spark.read.orc(temporary_save_path+'{0}/Astro_newMDUcleaningflow_1.orc'.format(curr_date))

# print(astro_kv_clean_2.count()) # 716792

# del tm_kv_clean_2 # - if required
# read file back in as orc - this seems to cause most of cleaning steps to run faster
tm_kv_clean_2 = spark.read.orc(temporary_save_path+'{0}/TM_newMDUcleaningflow_1.orc'.format(curr_date))
# print(tm_kv_clean_2.count()) # 3407094

print(astro_kv_clean_2.columns)
print(tm_kv_clean_2.columns)

['ACCOUNT_NO', 'ORIGINAL_ADDRESS', 'GEOHASH', 'LOCATION_TYPE', 'TRANSFORMED_ADDRESS', 'NUMBER_OF_RESULTS', 'FORMATTED_ADDRESS', 'Street_1', 'Street_2', 'AREA', 'CITY', 'STATE', 'COUNTRY', 'POSTCODE', 'match', 'Combined_Building', 'ASTRO_CITY', 'ASTRO_STATE', 'cust_location', 'service_add_objid', 'STD_CITY', 'HOUSE_NO', 'Token_Sort_Ratio', 'rank', 'Standard_Building_Name', 'Address_ID', 'Street_Type', 'Building_Coalesced', 'AREA_Coalesced', 'CITY_Coalesced', 'POSTCODE_Coalesced', 'STATE_Coalesced', 'Source', 'HOUSE_NO_old', 'HOUSE_NO_ASTRO', 'BLOCK_extracted', 'new_building_name', 'new_block_building_name', 'sorted_set', 'joined_set', 'COMBINED_ADD']
['ORIGINAL_ADDRESS', 'GEOHASH', 'LOCATION_TYPE', 'TRANSFORMED_ADDRESS', 'NUMBER_OF_RESULTS', 'FORMATTED_ADDRESS', 'Street_1', 'Street_2', 'AREA', 'CITY_GAPI', 'STATE_GAPI', 'COUNTRY', 'POSTCODE_GAPI', 'match', 'STD_CITY', 'BuildingName', 'City', 'FloorNo', 'HouseNo', 'Postcode', 'Section', 'ServiceType', 'State', 'StreetName', 'StreetType', 'Postcode_Length', 'ADDRESS', 'ADDRESS_KEY', 'Combined_Building', 'Source', 'Standard_Building_Name', 'ADDRESS_MDU', 'Address_Type', 'TM_Street', 'Street_coalesced', 'CITY_coalesced', 'HOUSE_NO_TM', 'BLOCK_extracted', 'new_building_name', 'new_block_building_name', 'sorted_set', 'joined_set', 'AREA_Coalesced']

### P1 MDU Mapping

In [7]:
###  ----------------- Generate Mapping Key, then do P1 MDU Mapping -----------------

now = datetime.now()

## Create Mapping Key using the new joined_set for P1 MDU then use the function above to clean it
astro_kv_clean_2 = astro_kv_clean_2.withColumn( 'HNUM_STRT', f.concat_ws(' ,', f.col("HOUSE_NO"), f.col("joined_set"), f.col("STD_CITY")) )
astro_kv_clean_2 = clean_HNUM_STRT(astro_kv_clean_2, 'HNUM_STRT')

## Create Mapping Key using the new joined_set for P1 MDU then use the function above to clean it
tm_kv_clean_2 = tm_kv_clean_2.withColumn( 'HNUM_STRT_TM', f.concat_ws(' ,', f.col("HOUSE_NO_TM"), f.col("joined_set"), f.col("STD_CITY")) )
tm_kv_clean_2 = clean_HNUM_STRT(tm_kv_clean_2, 'HNUM_STRT_TM')

### Update on 11/10/2022: only those with matching HOUSE_NO should be P1 MDU. If matching block or Building level only, then P2 MDU

## Remove duplicates by generating a set of HNUM_STRT_TM values - code copied from Step 3.0 P1P2 Mapping
words = " ".join(tm_kv_clean_2.agg(f.collect_list(f.col('HNUM_STRT_TM'))).collect()[0][0]).split()
selection = set(words)
selection1 = list(selection)
print('unique P1 MDU HNUM_STRT_TM', len(selection1)) # 2313517 unique HNUM_STRT_TM 

# create the spark DataFrame with defined column type (https://stackoverflow.com/questions/32742004/create-spark-dataframe-can-not-infer-schema-for-type). Then rename the column.
selection2 = spark.createDataFrame(selection1, StringType())
selection2 = selection2.withColumnRenamed('value', 'MAPPED_HNUM_STRT_TM')

## pre-join row count:
# astro_kv_clean_2 =  
# selection2 = 2313517 

# ## ----------------- MERGE/map for P1 MDU - on 11/10/2022, the HNUM_STRT for P1 MDU is now HOUSE_NO + joined_set + STD_CITY -----------------

MAPPED_STRT_HNUM_Df = astro_kv_clean_2.join(selection2, on = astro_kv_clean_2.HNUM_STRT == selection2.MAPPED_HNUM_STRT_TM, how = 'inner')
print('P1 MDU count & unique acc_no post MERGE', MAPPED_STRT_HNUM_Df.select('HNUM_STRT').count(), MAPPED_STRT_HNUM_Df.select(f.countDistinct(f.col('ACCOUNT_NO'))).show()) # 63415 inner join matches but 63275 unique acc

print(MAPPED_STRT_HNUM_Df.columns)

## -- whole cell takes about 30 sec to run
## Making sure that joined_set has valid value by filtering things out
# MAPPED_STRT_HNUM_Df["Combined_Building"] = MAPPED_STRT_HNUM_Df['Combined_Building'].str.replace('[,.]','', case = False) # old code, might not need
# MAPPED_STRT_HNUM_Df["Combined_Building"] = MAPPED_STRT_HNUM_Df["Combined_Building"].str.replace(",","") # old code, might not need
MAPPED_STRT_HNUM_Df = MAPPED_STRT_HNUM_Df.filter( f.col('joined_set').isNotNull())
MAPPED_STRT_HNUM_Df = MAPPED_STRT_HNUM_Df.filter( f.col('joined_set')!= "")
MAPPED_STRT_HNUM_Df = MAPPED_STRT_HNUM_Df.filter( f.col('joined_set')!= " ")
MAPPED_STRT_HNUM_Df = MAPPED_STRT_HNUM_Df.filter( f.col('joined_set')!= "NAN")

print('P1 MDU count & unique acc_no post filter out nulls & blanks', MAPPED_STRT_HNUM_Df.select('joined_set').count(), MAPPED_STRT_HNUM_Df.select(f.countDistinct('ACCOUNT_NO')).show()) # 63245 rows, 63106 unique acc left
# MAPPED_STRT_HNUM_Df.select('joined_set').distinct().show(10) # can uncomment if you want to see unique values in joined_set

## cleaning of Street Name
MAPPED_STRT_HNUM_Df = MAPPED_STRT_HNUM_Df.withColumn('Street_1', when( f.col('Street_1') == 'NAN', '').otherwise(f.col('Street_1')) )

## Method to ensure the dropDuplicates removes according to desired order. Refer: https://stackoverflow.com/questions/38687212/spark-dataframe-drop-duplicates-and-keep-first
# original pd code: MAPPED_STRT_HNUM_Df = MAPPED_STRT_HNUM_Df.sort_values(by='Source', ascending=False).drop_duplicates(subset=['ACCOUNT_NO','HOUSE_NO'],keep='first').drop_duplicates(subset='ACCOUNT_NO',keep='last') # from pyspark.sql import Window
window = Window.partitionBy(['ACCOUNT_NO','HOUSE_NO']).orderBy(f.col("Source").desc())
MAPPED_STRT_HNUM_Df_1 = MAPPED_STRT_HNUM_Df.withColumn('row', f.row_number().over(window)).filter(f.col('row') == 1).drop('row')
# print(MAPPED_STRT_HNUM_Df_1.select('joined_set').count(), MAPPED_STRT_HNUM_Df_1.select(f.countDistinct('ACCOUNT_NO')).show()) #  rows,  unique acc left

window = Window.partitionBy('ACCOUNT_NO').orderBy(f.col("Source").asc())
MAPPED_STRT_HNUM_Df_2 = MAPPED_STRT_HNUM_Df_1.withColumn('row', f.row_number().over(window)).filter(f.col('row') == 1).drop('row')
# print(MAPPED_STRT_HNUM_Df_2.select('joined_set').count(), MAPPED_STRT_HNUM_Df_2.select(f.countDistinct('ACCOUNT_NO')).show()) #  rows,  unique acc left

## ensuring ACCOUNT_NO is string in both tables
MAPPED_STRT_HNUM_Df_2 = MAPPED_STRT_HNUM_Df_2.withColumn( 'ACCOUNT_NO', MAPPED_STRT_HNUM_Df_2['ACCOUNT_NO'].cast('string') )
MAPPED_STRT_HNUM_Df_2 = MAPPED_STRT_HNUM_Df_2.withColumn( 'ACCOUNT_NO', f.regexp_replace('ACCOUNT_NO', '\.0','') )

## in Astro New Std, there are some null HOUSE_NO. For those cases, we can't regard as P1 MDU. Previously in the date_house step, these cases were filtered out. But I want to move them to P2 MDU
MAPPED_STRT_HNUM_Df_2 = MAPPED_STRT_HNUM_Df_2.filter('HOUSE_NO is NOT NULL')
print('Final print of P1 MDU', MAPPED_STRT_HNUM_Df_2.select('joined_set').count(), MAPPED_STRT_HNUM_Df_2.select(f.countDistinct('ACCOUNT_NO')).show()) # 63106 rows, 63106 unique acc left

## Save P1_MDU first for easier use later on (note this is before preparing the file as UAMS format 
P1_MDU = MAPPED_STRT_HNUM_Df_2 # 59682 rows, 59682 unique acc left
P1_MDU.write.orc(temporary_save_path+'{0}/P1_MDU.orc'.format(curr_date), mode='overwrite', compression='snappy') # historical

# automated save but select relevant columns only for use in next Job. Also coz you can't save DFs that have arrays in column into CSV
P1_MDU = P1_MDU.select(['ACCOUNT_NO', 'ORIGINAL_ADDRESS', 'FORMATTED_ADDRESS', 'Street_1', 'Street_2', 'AREA', 'COUNTRY', 'POSTCODE', 
                        'Combined_Building', 'ASTRO_STATE', 'service_add_objid', 'STD_CITY', 'HOUSE_NO', 'Standard_Building_Name',
                        'Street_Type', 'Building_Coalesced', 'AREA_Coalesced', 'CITY_Coalesced', 'POSTCODE_Coalesced', 'STATE_Coalesced', 'Source', 'match',
                        'joined_set', 'COMBINED_ADD', 'HNUM_STRT', 'MAPPED_HNUM_STRT_TM'])
P1_MDU.write.csv(uams_mdu_path+'P1_MDU.csv.gz', mode='overwrite', compression='gzip', header=True) # automated

# ------------------ Remove those that are P1 Mapped: Step below needs to be run before P2 MDU Mapping ------------------

## ensuring ACCOUNT_NO is string in both tables
astro_kv_clean_2 = astro_kv_clean_2.withColumn( 'ACCOUNT_NO', astro_kv_clean_2['ACCOUNT_NO'].cast('string') )
astro_kv_clean_2 = astro_kv_clean_2.withColumn( 'ACCOUNT_NO', f.regexp_replace('ACCOUNT_NO', '\.0','') )

## remove the mapped account no from P1 MDU mapping before P2 MDU mapping step
p1_mdu_acc_df = MAPPED_STRT_HNUM_Df_2.select('ACCOUNT_NO') # unique ACC_NO count is same as Final P1 MDU print above

# ## filter out the P1 MDU accounts, leaving the unmapped base for P2 MDU mapping
astro_kv_clean_3 = astro_kv_clean_2.join(p1_mdu_acc_df, on='ACCOUNT_NO', how='leftanti')
print('Unmapped base leftover for P2 MDU Mapping', astro_kv_clean_3.select('ACCOUNT_NO').count(), astro_kv_clean_3.select(f.countDistinct('ACCOUNT_NO')).show())  # 634563 rows & 539919 unique acc_no left

end = datetime.now()
print(str(end - now))  # 0:01:11.070039

unique P1 MDU HNUM_STRT_TM 2313517
+--------------------------+
|count(DISTINCT ACCOUNT_NO)|
+--------------------------+
|                     63275|
+--------------------------+

P1 MDU count & unique acc_no post MERGE 63415 None
['ACCOUNT_NO', 'ORIGINAL_ADDRESS', 'GEOHASH', 'LOCATION_TYPE', 'TRANSFORMED_ADDRESS', 'NUMBER_OF_RESULTS', 'FORMATTED_ADDRESS', 'Street_1', 'Street_2', 'AREA', 'CITY', 'STATE', 'COUNTRY', 'POSTCODE', 'match', 'Combined_Building', 'ASTRO_CITY', 'ASTRO_STATE', 'cust_location', 'service_add_objid', 'STD_CITY', 'HOUSE_NO', 'Token_Sort_Ratio', 'rank', 'Standard_Building_Name', 'Address_ID', 'Street_Type', 'Building_Coalesced', 'AREA_Coalesced', 'CITY_Coalesced', 'POSTCODE_Coalesced', 'STATE_Coalesced', 'Source', 'HOUSE_NO_old', 'HOUSE_NO_ASTRO', 'BLOCK_extracted', 'new_building_name', 'new_block_building_name', 'sorted_set', 'joined_set', 'COMBINED_ADD', 'HNUM_STRT', 'MAPPED_HNUM_STRT_TM']
+--------------------------+
|count(DISTINCT ACCOUNT_NO)|
+--------------------------+
|                     63106|
+--------------------------+

P1 MDU count & unique acc_no post filter out nulls & blanks 63245 None
+--------------------------+
|count(DISTINCT ACCOUNT_NO)|
+--------------------------+
|                     63106|
+--------------------------+

Final print of P1 MDU 63106 None
+--------------------------+
|count(DISTINCT ACCOUNT_NO)|
+--------------------------+
|                    539919|
+--------------------------+

Unmapped base leftover for P2 MDU Mapping 634563 None
0:01:34.763235

### P2 MDU Mapping

In [8]:
###  ----------------- Generate Mapping Key, then do P2 MDU Mapping -----------------

now=datetime.now()

#### 12/10/2022: P1 MDU is now HouseNo, and for P2 MDU we want the highest number of matches. Thus, use new_building_name which is just cleaned Combined_Building in mapping key (maps at building level, but not block level)
### final step of flow: use new_building_name in mapping key then clean mapping key -- takes 17 sec
# can bypass all steps except for generation of HNUM_STRT. 

## Create Mapping Key using the new Combined_Building for P2 MDU then use the function above to clean it
astro_kv_clean_3 = astro_kv_clean_3.withColumn( 'HNUM_STRT', f.concat_ws(' ,', f.col("new_building_name"), f.col("STD_CITY")) )
astro_kv_clean_3 = clean_HNUM_STRT(astro_kv_clean_3, 'HNUM_STRT')

## Create Mapping Key using the new Combined_Building for P2 MDU then use the function above to clean it
tm_kv_clean_2 = tm_kv_clean_2.withColumn( 'HNUM_STRT_TM', f.concat_ws(' ,', f.col("new_building_name"), f.col("STD_CITY")) )
tm_kv_clean_2 = clean_HNUM_STRT(tm_kv_clean_2, 'HNUM_STRT_TM')

## Remove duplicates by generating a set of HNUM_STRT_TM values - code copied from Step 3.0 P1P2 Mapping
words = " ".join(tm_kv_clean_2.agg(f.collect_list(f.col('HNUM_STRT_TM'))).collect()[0][0]).split()
selection = set(words)
selection1 = list(selection)
print('no of unique HNUM_STRT_TM', len(selection1)) # 87262

from pyspark.sql.types import *
# create the spark DataFrame with defined column type (https://stackoverflow.com/questions/32742004/create-spark-dataframe-can-not-infer-schema-for-type). Then rename the column.
selection2 = spark.createDataFrame(selection1, StringType())
selection2 = selection2.withColumnRenamed('value', 'MAPPED_HNUM_STRT_TM')

## pre-join row _count:
# astro_kv_clean_3 = 634563 rows & 539919 unique acc_no
# selection2 = 87262

# ## ----------------- MERGE/map for P2 MDU - on 11/10/2022, the HNUM_STRT for P2 MDU is now joined_set + STD_CITY -----------------
MAPPED_STRT_HNUM_Df = astro_kv_clean_3.join(selection2, on = astro_kv_clean_3.HNUM_STRT == selection2.MAPPED_HNUM_STRT_TM, how = 'inner')
print('P2 MDU post-merge', MAPPED_STRT_HNUM_Df.select('HNUM_STRT').count(), MAPPED_STRT_HNUM_Df.select(f.countDistinct(f.col('ACCOUNT_NO'))).show()) # 245679 inner join matches, 210157 unique acc
print(MAPPED_STRT_HNUM_Df.columns)

## -- whole cell takes about 30 sec to run

## Making sure that joined_set has valid value by filtering things out
# MAPPED_STRT_HNUM_Df["Combined_Building"] = MAPPED_STRT_HNUM_Df['Combined_Building'].str.replace('[,.]','', case = False) # old code, might not need
# MAPPED_STRT_HNUM_Df["Combined_Building"] = MAPPED_STRT_HNUM_Df["Combined_Building"].str.replace(",","") # old code, might not need
MAPPED_STRT_HNUM_Df = MAPPED_STRT_HNUM_Df.filter( f.col('new_building_name').isNotNull())
MAPPED_STRT_HNUM_Df = MAPPED_STRT_HNUM_Df.filter( f.col('new_building_name')!= "")
MAPPED_STRT_HNUM_Df = MAPPED_STRT_HNUM_Df.filter( f.col('new_building_name')!= " ")
MAPPED_STRT_HNUM_Df = MAPPED_STRT_HNUM_Df.filter( f.col('new_building_name')!= "NAN")

# originally when filtering on 'joined_set', it was 243724 rows, 209020 unique acc left. When filtering on new_building_name, numbers are 214195 rows, 180425 unique acc
print('P2 MDU after filtering out nulls & blanks in joined_set',MAPPED_STRT_HNUM_Df.select('new_building_name').count(), MAPPED_STRT_HNUM_Df.select(f.countDistinct('ACCOUNT_NO')).show()) 
# MAPPED_STRT_HNUM_Df.select('joined_set').distinct().show(10) # can uncomment if you want to see unique values in joined_set

## cleaning of Street Name
MAPPED_STRT_HNUM_Df = MAPPED_STRT_HNUM_Df.withColumn('Street_1', when( f.col('Street_1') == 'NAN', '').otherwise(f.col('Street_1')) )

## Method to ensure the dropDuplicates removes according to desired order. Refer: https://stackoverflow.com/questions/38687212/spark-dataframe-drop-duplicates-and-keep-first
# original pd code: MAPPED_STRT_HNUM_Df = MAPPED_STRT_HNUM_Df.sort_values(by='Source', ascending=False).drop_duplicates(subset=['ACCOUNT_NO','HOUSE_NO'],keep='first').drop_duplicates(subset='ACCOUNT_NO',keep='last') # from pyspark.sql import Window
window = Window.partitionBy(['ACCOUNT_NO','HOUSE_NO']).orderBy(f.col("Source").desc())
MAPPED_STRT_HNUM_Df_1 = MAPPED_STRT_HNUM_Df.withColumn('row', f.row_number().over(window)).filter(f.col('row') == 1).drop('row')
# print('2nd print',MAPPED_STRT_HNUM_Df_1.select('joined_set').count(), MAPPED_STRT_HNUM_Df_1.select(f.countDistinct('ACCOUNT_NO')).show()) #  rows,  unique acc left

window = Window.partitionBy('ACCOUNT_NO').orderBy(f.col("Source").asc())
MAPPED_STRT_HNUM_Df_2 = MAPPED_STRT_HNUM_Df_1.withColumn('row', f.row_number().over(window)).filter(f.col('row') == 1).drop('row')
# print('3rd print',MAPPED_STRT_HNUM_Df_2.select('joined_set').count(), MAPPED_STRT_HNUM_Df_2.select(f.countDistinct('ACCOUNT_NO')).show()) #  rows,  unique acc left

## ensuring ACCOUNT_NO is string in both tables
MAPPED_STRT_HNUM_Df_2 = MAPPED_STRT_HNUM_Df_2.withColumn( 'ACCOUNT_NO', MAPPED_STRT_HNUM_Df_2['ACCOUNT_NO'].cast('string') )
MAPPED_STRT_HNUM_Df_2 = MAPPED_STRT_HNUM_Df_2.withColumn( 'ACCOUNT_NO', f.regexp_replace('ACCOUNT_NO', '\.0','') )

## in Astro New Std, there are some null HOUSE_NO. For P2 MDU, should we still consider them?
MAPPED_STRT_HNUM_Df_2 = MAPPED_STRT_HNUM_Df_2.filter('HOUSE_NO is NOT NULL')
print('Final print of P2 MDU',MAPPED_STRT_HNUM_Df_2.select('joined_set').count(), MAPPED_STRT_HNUM_Df_2.select(f.countDistinct('ACCOUNT_NO')).show()) # 180425 rows, 180425 unique acc

## obtain mapped account no from P2 MDU mapping for removal from overall base in next step
p2_mdu_acc_df = MAPPED_STRT_HNUM_Df_2.select('ACCOUNT_NO') # unique ACC_NO count is same as Final P1 MDU print above

## save P2_MDU file for easier use later on (note this is before preparing the file as UAMS format)
P2_MDU = MAPPED_STRT_HNUM_Df_2 # 209020 rows, 209020 unique acc left
P2_MDU.write.orc(temporary_save_path+'{0}/P2_MDU.orc'.format(curr_date), mode='overwrite', compression='snappy') # historical

# automated save but select relevant columns only for use in next Job. Also coz you can't save DFs that have arrays in column into CSV
P2_MDU = P2_MDU.select(['ACCOUNT_NO', 'ORIGINAL_ADDRESS', 'FORMATTED_ADDRESS', 'Street_1', 'Street_2', 'AREA', 'COUNTRY', 'POSTCODE', 
                        'Combined_Building', 'ASTRO_STATE', 'service_add_objid', 'STD_CITY', 'HOUSE_NO', 'Standard_Building_Name',
                        'Street_Type', 'Building_Coalesced', 'AREA_Coalesced', 'CITY_Coalesced', 'POSTCODE_Coalesced', 'STATE_Coalesced', 'Source', 'match',
                        'joined_set', 'COMBINED_ADD', 'HNUM_STRT', 'MAPPED_HNUM_STRT_TM'])
P2_MDU.write.csv(uams_mdu_path+'P2_MDU.csv.gz', mode='overwrite', compression='gzip', header=True) # automated

end = datetime.now()
print(str(end - now)) # 0:01:02.965288

no of unique HNUM_STRT_TM 87262
+--------------------------+
|count(DISTINCT ACCOUNT_NO)|
+--------------------------+
|                    210157|
+--------------------------+

P2 MDU post-merge 245679 None
['ACCOUNT_NO', 'ORIGINAL_ADDRESS', 'GEOHASH', 'LOCATION_TYPE', 'TRANSFORMED_ADDRESS', 'NUMBER_OF_RESULTS', 'FORMATTED_ADDRESS', 'Street_1', 'Street_2', 'AREA', 'CITY', 'STATE', 'COUNTRY', 'POSTCODE', 'match', 'Combined_Building', 'ASTRO_CITY', 'ASTRO_STATE', 'cust_location', 'service_add_objid', 'STD_CITY', 'HOUSE_NO', 'Token_Sort_Ratio', 'rank', 'Standard_Building_Name', 'Address_ID', 'Street_Type', 'Building_Coalesced', 'AREA_Coalesced', 'CITY_Coalesced', 'POSTCODE_Coalesced', 'STATE_Coalesced', 'Source', 'HOUSE_NO_old', 'HOUSE_NO_ASTRO', 'BLOCK_extracted', 'new_building_name', 'new_block_building_name', 'sorted_set', 'joined_set', 'COMBINED_ADD', 'HNUM_STRT', 'MAPPED_HNUM_STRT_TM']
+--------------------------+
|count(DISTINCT ACCOUNT_NO)|
+--------------------------+
|                    180425|
+--------------------------+

P2 MDU after filtering out nulls & blanks in joined_set 214195 None
+--------------------------+
|count(DISTINCT ACCOUNT_NO)|
+--------------------------+
|                    180425|
+--------------------------+

Final print of P2 MDU 180425 None
0:01:26.687499

In [3]:
# ## 23/12/2022 - trying to save the file using Pandas methods -- but kept getting errors related to Memory e.g either Spark session would crash or the Glue job session would crash... 
# # --> Instead added a new argument to the spark write.csv function (escape =None) and that file seems to be able to open in Pandas format woohoo!

# now=datetime.now()

# def save_unmapped_base_using_pandas():
#     # ## filter out the P1 & P2 MDU accounts from the TOTAL base, leaving the unmapped base for P1P2 SDU Mapping in next Job
#     astro_new_std_all = spark.read.csv(astro_new_std_path, header=True) # count: 4675485
#     p1_mdu_acc_df = spark.read.orc(temporary_save_path+'{0}/P1_MDU.orc'.format(curr_date)).select('ACCOUNT_NO')
#     p2_mdu_acc_df = spark.read.orc(temporary_save_path+'{0}/P2_MDU.orc'.format(curr_date)).select('ACCOUNT_NO')

#     ## ensuring ACCOUNT_NO is string in all tables
#     astro_new_std_all = astro_new_std_all.withColumn( 'ACCOUNT_NO', f.col('ACCOUNT_NO').cast('string') ).withColumn( 'ACCOUNT_NO', f.regexp_replace('ACCOUNT_NO', '\.0','') )
#     p1_mdu_acc_df = p1_mdu_acc_df.withColumn( 'ACCOUNT_NO',  f.col('ACCOUNT_NO').cast('string') ).withColumn( 'ACCOUNT_NO', f.regexp_replace('ACCOUNT_NO', '\.0','') )
#     p2_mdu_acc_df = p2_mdu_acc_df.withColumn( 'ACCOUNT_NO',  f.col('ACCOUNT_NO').cast('string') ).withColumn( 'ACCOUNT_NO', f.regexp_replace('ACCOUNT_NO', '\.0','') )

#     # OLD filter method: astro_unmapped = astro_new_std.filter(~f.col('ACCOUNT_NO').isin(p1_mdu_acc_list)).filter(~f.col('ACCOUNT_NO').isin(p2_mdu_acc_list)) # <-- inefficient method of filtering based on a list
#     ## filter using MERGE
#     astro_unmapped = astro_new_std_all.join(p1_mdu_acc_df, on='ACCOUNT_NO', how='leftanti').join(p2_mdu_acc_df, on='ACCOUNT_NO', how='leftanti')
#     astro_unmapped_pd = astro_unmapped.toPandas()
#     print( 'Unmapped Base, to push to next job', astro_unmapped_pd.shape, astro_unmapped_pd.ACCOUNT_NO.nunique() )

#     ## save this unmapped base as pandas
#     wr.s3.to_csv(df = astro_unmapped_pd, path = temporary_save_path + '{0}/astro_new_std-mapped_mdu.csv.gz'.format(curr_date),  compression='gzip', index=False)
#     return


# save_unmapped_base_using_pandas()

# end = datetime.now()
# print(str(end - now)) #

0:02:50.424217

In [10]:
# ------------------ Remove those that are P1 & P2 MDU Mapped from the total Astro New Std BASE: Step below needs to be run, then push to a path for the next Job to read
now=datetime.now()

def save_unmapped_base():
    # ## filter out the P1 & P2 MDU accounts from the TOTAL base, leaving the unmapped base for P1P2 SDU Mapping in next Job
    astro_new_std_all = spark.read.csv(astro_new_std_path, header=True) # count: 4675485
    p1_mdu_acc_df = spark.read.orc(temporary_save_path+'{0}/P1_MDU.orc'.format(curr_date)).select('ACCOUNT_NO')
    p2_mdu_acc_df = spark.read.orc(temporary_save_path+'{0}/P2_MDU.orc'.format(curr_date)).select('ACCOUNT_NO')

    ## ensuring ACCOUNT_NO is string in all tables
    astro_new_std_all = astro_new_std_all.withColumn( 'ACCOUNT_NO', f.col('ACCOUNT_NO').cast('string') ).withColumn( 'ACCOUNT_NO', f.regexp_replace('ACCOUNT_NO', '\.0','') )
    p1_mdu_acc_df = p1_mdu_acc_df.withColumn( 'ACCOUNT_NO',  f.col('ACCOUNT_NO').cast('string') ).withColumn( 'ACCOUNT_NO', f.regexp_replace('ACCOUNT_NO', '\.0','') )
    p2_mdu_acc_df = p2_mdu_acc_df.withColumn( 'ACCOUNT_NO',  f.col('ACCOUNT_NO').cast('string') ).withColumn( 'ACCOUNT_NO', f.regexp_replace('ACCOUNT_NO', '\.0','') )

    # OLD filter method: astro_unmapped = astro_new_std.filter(~f.col('ACCOUNT_NO').isin(p1_mdu_acc_list)).filter(~f.col('ACCOUNT_NO').isin(p2_mdu_acc_list)) # <-- inefficient method of filtering based on a list
    ## filter using MERGE
    astro_unmapped = astro_new_std_all.join(p1_mdu_acc_df, on='ACCOUNT_NO', how='leftanti').join(p2_mdu_acc_df, on='ACCOUNT_NO', how='leftanti')
    print('Unmapped Base, to push to next job', astro_unmapped.select('ACCOUNT_NO').count(), astro_unmapped.select(f.countDistinct('ACCOUNT_NO')).show())  
    # after filtering out P2 MDU on blank/null joined_set: 4296644 rows & 3918444 unique acc_no left
    # after filtering out P2 MDU on blank/null new_building_name: 4330080 rows & 3947039 unique acc_no left

    ## save this unmapped base
    astro_unmapped.write.csv(temporary_save_path+'{0}/astro_new_std-mapped_mdu.csv.gz'.format(curr_date), mode='overwrite', compression='gzip', header=True) # historical base
    astro_unmapped.write.csv(uams_mdu_path+'astro_new_std-mapped_mdu.csv.gz', mode='overwrite', compression='gzip', header=True) # automated base # 25/12/2022, added escape=None coz the CSV file seems to open alright using Pandas read csv
    # , quoteAll='true' # <-- extra write.csv argument that I experimented with 
    print(astro_unmapped.columns)

# del astro_new_std_all
# del astro_unmapped
save_unmapped_base()

end = datetime.now()
print(str(end - now)) # 0:04:15.377729

+--------------------------+
|count(DISTINCT ACCOUNT_NO)|
+--------------------------+
|                   3947039|
+--------------------------+

Unmapped Base, to push to next job 4330080 None
['ACCOUNT_NO', 'ORIGINAL_ADDRESS', 'GEOHASH', 'LOCATION_TYPE', 'TRANSFORMED_ADDRESS', 'NUMBER_OF_RESULTS', 'FORMATTED_ADDRESS', 'Street_1', 'Street_2', 'AREA', 'CITY', 'STATE', 'COUNTRY', 'POSTCODE', 'match', 'Combined_Building', 'ASTRO_CITY', 'ASTRO_STATE', 'cust_location', 'service_add_objid', 'STD_CITY', 'HOUSE_NO', 'Token_Sort_Ratio', 'rank', 'Standard_Building_Name', 'Address_ID', 'Street_Type', 'Building_Coalesced', 'AREA_Coalesced', 'CITY_Coalesced', 'POSTCODE_Coalesced', 'STATE_Coalesced', 'Source']
0:04:22.810360

#### Below few cells are for experimenting and trying to figure out why I can't read in the spark-saved CSV in Pandas:
The errors I were getting were either: 
- ParserError: ',' expected after '"'
- Error tokenising data. C error: EOF inside string starting at line

I continued more experiments on Qubole @ https://us.qubole.com/notebooks#home?id=143539&type=my-notebooks&view=home when testing PySpark and the local Jupyter notebook called "Studying astro_new_std-mapped_mdu.ipynb" when testing Pandas code. Using PySpark, I found that the Spark-saved CSV file (using default parameters/args) contained the value '\"\"' in Combined_Building & Building_Coalesced columns. After studying the documentations for Pyspark when reading & writing csv & for Pandas when using read_csv, I realized that PySpark uses \ as its default 'escape' argument while pandas has None as its default 'escapechar' argument. 

Also, Spark uses "" as its default 'emptyValue' argument which is the STRING representation of an empty value. This sounds like everytime there is a blank ('') string value in the column, Spark by default saves that string as "". This combined with the \ as the default 'escape' argument may explain why I get \"\" values in some columns where I assume it should be blank. Note: when reading in a CSV file, if you use emptyValue = '""', then it will actually convert null values in string columns to ""

In [15]:
# ### EXPERIMENT---------------- used codes in code cell above
# astro_new_std_all = spark.read.csv(astro_new_std_path, header=True) # count: 4675485
# p1_mdu_acc_df = spark.read.orc(temporary_save_path+'{0}/P1_MDU.orc'.format(curr_date)).select('ACCOUNT_NO')
# p2_mdu_acc_df = spark.read.orc(temporary_save_path+'{0}/P2_MDU.orc'.format(curr_date)).select('ACCOUNT_NO')

# ## ensuring ACCOUNT_NO is string in all tables
# astro_new_std_all = astro_new_std_all.withColumn( 'ACCOUNT_NO', f.col('ACCOUNT_NO').cast('string') ).withColumn( 'ACCOUNT_NO', f.regexp_replace('ACCOUNT_NO', '\.0','') )
# p1_mdu_acc_df = p1_mdu_acc_df.withColumn( 'ACCOUNT_NO',  f.col('ACCOUNT_NO').cast('string') ).withColumn( 'ACCOUNT_NO', f.regexp_replace('ACCOUNT_NO', '\.0','') )
# p2_mdu_acc_df = p2_mdu_acc_df.withColumn( 'ACCOUNT_NO',  f.col('ACCOUNT_NO').cast('string') ).withColumn( 'ACCOUNT_NO', f.regexp_replace('ACCOUNT_NO', '\.0','') )

# # OLD filter method: astro_unmapped = astro_new_std.filter(~f.col('ACCOUNT_NO').isin(p1_mdu_acc_list)).filter(~f.col('ACCOUNT_NO').isin(p2_mdu_acc_list)) # <-- inefficient method of filtering based on a list
# ## filter using MERGE
# astro_unmapped = astro_new_std_all.join(p1_mdu_acc_df, on='ACCOUNT_NO', how='leftanti').join(p2_mdu_acc_df, on='ACCOUNT_NO', how='leftanti')

In [10]:
# astro_unmapped.schema

StructType(List(StructField(ACCOUNT_NO,StringType,true),StructField(ORIGINAL_ADDRESS,StringType,true),StructField(GEOHASH,StringType,true),StructField(LOCATION_TYPE,StringType,true),StructField(TRANSFORMED_ADDRESS,StringType,true),StructField(NUMBER_OF_RESULTS,StringType,true),StructField(FORMATTED_ADDRESS,StringType,true),StructField(Street_1,StringType,true),StructField(Street_2,StringType,true),StructField(AREA,StringType,true),StructField(CITY,StringType,true),StructField(STATE,StringType,true),StructField(COUNTRY,StringType,true),StructField(POSTCODE,StringType,true),StructField(match,StringType,true),StructField(Combined_Building,StringType,true),StructField(ASTRO_CITY,StringType,true),StructField(ASTRO_STATE,StringType,true),StructField(cust_location,StringType,true),StructField(service_add_objid,StringType,true),StructField(STD_CITY,StringType,true),StructField(HOUSE_NO,StringType,true),StructField(Token_Sort_Ratio,StringType,true),StructField(rank,StringType,true),StructField(Standard_Building_Name,StringType,true),StructField(Address_ID,StringType,true),StructField(Street_Type,StringType,true),StructField(Building_Coalesced,StringType,true),StructField(AREA_Coalesced,StringType,true),StructField(CITY_Coalesced,StringType,true),StructField(POSTCODE_Coalesced,StringType,true),StructField(STATE_Coalesced,StringType,true),StructField(Source,StringType,true)))

In [ ]:
# ## filter all rows which have a weird string value
# problem_rows = spark.createDataFrame([], schema= astro_unmapped.schema)
# col_to_check = ['Combined_Building', 'ASTRO_CITY', 'ASTRO_STATE', 'STD_CITY', 'HOUSE_NO', 'Street_Type', 'Building_Coalesced', 'AREA_Coalesced', 'CITY_Coalesced', 'POSTCODE_Coalesced', 'STATE_Coalesced', 'Source']
# for col in col_to_check:
#      # problem_rows = problem_rows.union( astro_unmapped.filter(f.col(col).contains("`") | f.col(col).contains('"') | f.col(col).contains('\') )  )
#     problem_rows = problem_rows.union( astro_unmapped.filter( f.col(col).contains('"') | f.col(col).contains('\') )  )
    
# problem_rows.select('ACCOUNT_NO').count()

14259

# Prepare the P1 & P2 MDU files into UAMS format
<!-- , go to the next Job
The function (generate_uams_format) was defined in the next Job, i.e. amzar-address_standardization-prod-p1p2_mapping_tm @ https://ap-southeast-1.console.aws.amazon.com/gluestudio/home?region=ap-southeast-1#/editor/job/amzar-address_standardization-prod-p1p2_mapping_tm/script -->

In [66]:
# ## checking columns in one of the tables created in this note
# # df = spark.read.csv(uams_mdu_path+'astro_new_std-mapped_mdu.csv.gz')
# df = spark.read.csv(uams_mdu_path+'P2_MDU.csv.gz', header=True)
# df.columns

['ACCOUNT_NO', 'ORIGINAL_ADDRESS', 'FORMATTED_ADDRESS', 'Street_1', 'Street_2', 'AREA', 'COUNTRY', 'POSTCODE', 'Combined_Building', 'ASTRO_STATE', 'service_add_objid', 'STD_CITY', 'HOUSE_NO', 'Standard_Building_Name', 'Street_Type', 'Building_Coalesced', 'AREA_Coalesced', 'CITY_Coalesced', 'POSTCODE_Coalesced', 'STATE_Coalesced', 'Source', 'match', 'joined_set', 'COMBINED_ADD', 'HNUM_STRT', 'MAPPED_HNUM_STRT_TM']

In [4]:
def extract_street(item): # added on 12/12/22 after I noticed that this function gets defined multiple times in the original script
    """This function is to extract the street type from the column that has the full street name"""
    import re
    street_type = ""
    
    r1 = "JALAN|LORONG|CHANGKAT|LAMAN|LAHAT|LEBUH|LEBUHRAYA|LENGKOK|LINGKARAN|PERSIARAN"


    m = re.search(r1,item)
    if m:
        street_type = m.group()
    return street_type      

def generate_uams_format(input_df, p_base): # copied from amzar-address_standardization-prod-p1p2_mapping_tm Job
    """This function is to generate the P1P2 MDU/SDU files into the UAMS format & get ServiceType before saving"""
    
    STRT_P1 = input_df.copy() # Amzar 9/9/2022 --> added copy() to create an explicit copy	
    print(p_base, 'STRT_P1 dataframe shape: ', STRT_P1.shape) # Amzar 9/9/2022 --> added new print statement to see shape of STRT_P1 variable
    STRT_P1['Street_1'] = STRT_P1['Street_1'].astype(str)
    STRT_P1.reset_index(inplace=True, drop=True)
    test = STRT_P1.loc[STRT_P1['Street_1'].apply(lambda x: x.startswith('AA')), :].index # Amzar 9/9/2022 --> added loc statement
    test = list(test)
    STRT_P1.loc[test,'Street_1'] = ''
    STRT_P1.loc[STRT_P1['match']=='Match','Street_2'] = ''
    STRT_P1[STRT_P1['match']=='Match']
    
    ## Apply extract_street function defined above    
    STRT_P1["Street_Type_1"] = STRT_P1["Street_1"].apply(extract_street)
    STRT_P1["Street_Type_2"] = STRT_P1["Street_2"].map(str).apply(extract_street)
    STRT_P1.head()
    street_type_list = ['JALAN ', 'LORONG ','CHANGKAT ', 'LAMAN ', 'LAHAT ', 'LEBUH ', 'LEBUHRAYA ', 'LENGKOK ','LINGKARAN ', 'PERSIARAN ' ]
    STRT_P1["Street_1_New"] = STRT_P1["Street_1"].str.replace('|'.join(street_type_list), '')
    STRT_P1["Street_2"] = STRT_P1["Street_2"].str.upper()
    STRT_P1["Street_2_New"] = STRT_P1["Street_2"].str.replace('|'.join(street_type_list), '')
    STRT_P1.head()
    
    # Getting the ServiceType
    service_list = isp_corrected.loc[:, ['ServiceType','HNUM_STRT_TM']].drop_duplicates() # Amzar 9/9/2022 --> added loc
    service_list["ServiceType"] = service_list["ServiceType"].astype(str).str.upper()
    service_list = service_list[service_list['ServiceType']!='ERROR']
    New_fields1 = pd.merge(STRT_P1,service_list,left_on ='HNUM_STRT',right_on='HNUM_STRT_TM', how = 'left')
    New_fields1.info()
    #MDU NEW
    New_fields2 = New_fields1[['ACCOUNT_NO','service_add_objid','ASTRO_HOUSE_NO1',
                               'Combined_Building','Street_Type_1','Street_1_New','Standard_Building_Name',
                               'Street_Type_2','Street_2_New','AREA','POSTCODE','STD_CITY','ASTRO_STATE', 'ServiceType','HNUM_STRT_TM']]
    New_fields2.loc[:, 'Servicable']= str(ISP_Name) # Amzar 9/9/2022 --> added loc 
    # New_fields3 = New_fields2.drop_duplicates(subset= 'ACCOUNT_NO', keep = 'first')
    New_fields3 = New_fields2.sort_values(['ServiceType']).drop_duplicates(subset= 'ACCOUNT_NO', keep = 'first')
    
    astro_cleaned = New_fields3.copy() # Amzar 9/9/2022 --> added copy()
    print(p_base, 'astro_cleaned shape: ', astro_cleaned.shape, '& New_fields3 shape: ', New_fields3.shape) # Amzar 9/9/2022 --> added new print statement to compare

    # Fix HOUSE_NO that are converted to dat
    astro_cleaned['HOUSE_NO'] = astro_cleaned['ASTRO_HOUSE_NO1'] 
    astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("JAN-","01-", case = False)
    astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("-JAN","-01", case = False)
    astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("Jan-","01-", case = False)
    astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("-Jan","-01", case = False)
    astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("FEB-","02-", case = False)
    astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("-FEB",'-02', case = False)
    astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("Feb-","02-", case = False)
    astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("-Feb","-02", case = False)
    astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("MAR-",'03-', case = False)
    astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("-MAR","-03", case = False)
    astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("Mar-",'03-', case = False)
    astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("-Mar","-03", case = False)
    astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("APR-","04-", case = False)
    astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("-APR","-04", case = False)
    astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("Apr-","04-", case = False)
    astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("-Apr","-04", case = False)
    astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("MAY-","05-", case = False)
    astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("-MAY","-05", case = False)
    astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("May-","05-", case = False)
    astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("-May","-05", case = False)
    astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("JUN-","06-", case = False)
    astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("-JUN","-06", case = False)
    astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("Jun-","06-", case = False)
    astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("-Jun","-06", case = False)
    astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("JUL-","07-", case = False)
    astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("-JUL","-07", case = False)
    astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("Jul-","07-", case = False)
    astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("-Jul","-07", case = False)
    astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("AUG-",'08-', case = False)
    astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("-AUG","-08", case = False)
    astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("Aug-",'08-', case = False)
    astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("-Aug","-08", case = False)
    astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("SEP-","09-", case = False)
    astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("-SEP","-09", case = False)
    astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("Sep-","09-", case = False)
    astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("-Sep","-09", case = False)
    astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("OCT-","10-", case = False)
    astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("-OCT","-10", case = False)
    astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("Oct-","10-", case = False)
    astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("-Oct","-10", case = False)
    astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("NOV-","11-", case = False)
    astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("-NOV","-11", case = False)
    astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("Nov-","11-", case = False)
    astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("-Nov","-11", case = False)
    astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("DEC-","12-", case = False)
    astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("-DEC","-12", case = False)
    astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("Dec-","12-", case = False)
    astro_cleaned['HOUSE_NO'] = astro_cleaned['HOUSE_NO'].str.replace("-Dec","-12", case = False)
    
    # Fix HOUSE_NO that are converted to date (DD/MM/YYYY format)	
    # Filter date HOUSE_NO	
    date_house = astro_cleaned[astro_cleaned['HOUSE_NO'].str.match('^([0-2][0-9]|(3)[0-1])(\/)(((0)[0-9])|((1)[0-2]))(\/)\d{4}$')== True]
    # Spliting the HOUSE_NO
    date_house.loc[:, 'block'] = (date_house.HOUSE_NO.str[0:2]) # Amzar 9/9/2022 --> added loc
    date_house.loc[:, 'floor'] = (date_house.HOUSE_NO.str[3:5]) # Amzar 9/9/2022 --> added loc 
    date_house.loc[:, 'unit'] = (date_house.HOUSE_NO.str[8:10]) # Amzar 9/9/2022 --> added loc
    # Combine the split HOUSE_NO with ...
    date_house.loc[:, 'HOUSE_NO_ASTRO'] = date_house['block'] + "-" + date_house['floor'] + "-" + date_house['unit'] # Amzar 9/9/2022 --> added loc 
    # Filter not date HOUSE_NO
    not_date_house = astro_cleaned[~(astro_cleaned['HOUSE_NO'].str.match('^([0-2][0-9]|(3)[0-1])(\/)(((0)[0-9])|((1)[0-2]))(\/)\d{4}$')== True)]
    not_date_house.loc[:, 'HOUSE_NO_ASTRO'] = not_date_house['HOUSE_NO'] # Amzar 9/9/2022 --> added loc 
    not_date_house.head()
    # Append the 2 df again
    frame = [date_house,not_date_house]
    astro_cleaned = pd.concat(frame)
    astro_cleaned.shape
    
    # Remove additional column created to combine HOUSE_NO
    astro_cleaned = astro_cleaned.drop(['block','floor','unit'],axis=1)
    astro_cleaned.info()
    astro_cleaned['ASTRO_HOUSE_NO1']= astro_cleaned['HOUSE_NO_ASTRO'].str.pad(width=10)
    #MDU NEW
    astro_cleaned2 = astro_cleaned[['ACCOUNT_NO','service_add_objid', 'ASTRO_HOUSE_NO1', 
                                       'Combined_Building','Street_Type_1','Street_1_New','Street_Type_2',
                                       'Street_2_New',  'AREA','STD_CITY' ,'POSTCODE', 'ASTRO_STATE',
                                       'Standard_Building_Name',
                                       'ServiceType', 'Servicable', 'HNUM_STRT_TM']]

    UAMS_Base = astro_cleaned2.copy() # Amzar 9/9/2022 --> added copy() 
    print(p_base, 'UAMS_BASE df shape: ', UAMS_Base.shape, ' & astro_cleaned2 df shape: ', astro_cleaned2.shape) # Amzar 9/9/2022 --> added new print statement to compare
    UAMS_Base.loc[:, 'ACCOUNT_NO'] = UAMS_Base.loc[:, 'ACCOUNT_NO'].astype(str) # Amzar 9/9/2022 --> added loc 
    UAMS_Base.loc[:, 'ACCOUNT_NO'] = UAMS_Base.loc[:, 'ACCOUNT_NO'].str.replace('\.0','', case = False) # Amzar 9/9/2022 --> added loc                                 
    print(p_base, 'UAMS_Base shape after converting ACC_NO col to str type: ', UAMS_Base.shape) # Amzar 9/9/2022 --> added more text to the print statement
    
    return UAMS_Base

In [5]:
### -------------------------------- READING IN THE FILES for P1P2 MDU, to generate them into UAMS format (added on 14/12/22) --------------------------------

def p1p2_mdu_generate_uams(df_path, p_base):
    
    now = datetime.now()

    # df = wr.s3.read_csv(path = df_path, compression='gzip', dtype=str, usecols = ['ACCOUNT_NO','service_add_objid','HOUSE_NO','Building_Coalesced', 'Street_1', 'Street_2', 'Standard_Building_Name', 'AREA_Coalesced','POSTCODE_Coalesced', 'CITY_Coalesced','STATE_Coalesced', 'joined_set', 'Source', 'MAPPED_HNUM_STRT_TM'])
    df = spark.read.csv(df_path, header=True)
    df = df.select(['ACCOUNT_NO','service_add_objid','HOUSE_NO','Building_Coalesced', 'Street_1', 'Street_2', 'Standard_Building_Name', 'AREA_Coalesced','POSTCODE_Coalesced', 'CITY_Coalesced','STATE_Coalesced', 'joined_set', 'Source', 'match', 'HNUM_STRT'])
    # rename columns to fit the format in the function above (coz I defined it for just the SDU mapping originally)
    df = df.toDF(*['ACCOUNT_NO','service_add_objid','ASTRO_HOUSE_NO1','Combined_Building', 'Street_1', 'Street_2', 'Standard_Building_Name', 'AREA','POSTCODE', 'STD_CITY','ASTRO_STATE', 'joined_set', 'Source', 'match', 'HNUM_STRT'])
    
    # For each p_base, create HNUM_STRT_TM in isp_corrected/tm_kv_clean_2
    tm_kv_clean_2 = spark.read.orc(temporary_save_path+'{0}/TM_newMDUcleaningflow_1.orc'.format(curr_date))
    if p_base == 'P1_MDU':
        tm_kv_clean_2 = tm_kv_clean_2.withColumn( 'HNUM_STRT_TM', f.concat_ws(' ,', f.col("HOUSE_NO_TM"), f.col("joined_set"), f.col("STD_CITY")) )
    elif p_base == 'P2_MDU':
        tm_kv_clean_2 = tm_kv_clean_2.withColumn( 'HNUM_STRT_TM', f.concat_ws(' ,', f.col("new_building_name"), f.col("STD_CITY")) )
    else:
        print('neither of P1_MDU or P2_MDU base was keyed in')
        return
    
    # Clean, Strip, & Capitalize HNUM_STRT_TM
    tm_kv_clean_2 = clean_HNUM_STRT(tm_kv_clean_2, 'HNUM_STRT_TM')
    isp_corrected = tm_kv_clean_2.toPandas() # convert to Pandas as the generate_uams_format function was copied from a Pandas job ---> but I keep getting Error: Interpreter Died: ... so maybe I can't use Pandas?
    
    # use function defined above to generate UAMS format & get ServiceType - converted the df table to pandas coz my codes for the generate_uams_format function were copied from a Pandas script                                     
    UAMS_MDU_Base = generate_uams_format(df.toPandas(), p_base)

    # de-dupe & rename columns using pandas first
    UAMS_MDU_Base = UAMS_MDU_Base.drop_duplicates(subset=['ACCOUNT_NO'], keep='first')
    print(p_base, 'UAMS_MDU_Base shape AFTER dedupe on ACC_NO, keep first: ', UAMS_MDU_Base.shape) # Amzar 9/9/2022 --> added more text to the print statement
    UAMS_MDU_Base = UAMS_MDU_Base.rename({'ASTRO_HOUSE_NO1':'House_No', 'ACCOUNT_NO': 'Account_No'}, axis=1)
    
    # convert the pandas DF back to Spark for saving
    UAMS_MDU_Base = spark.createDataFrame(UAMS_MDU_Base)
    
    # save the file
    UAMS_MDU_Base.write.csv(uams_mdu_path+'UAMS_Format_stndrd_' + str(ISP_Name)+ '_{0}.csv.gz'.format(p_base), mode='overwrite', compression='gzip', header=True)
    UAMS_MDU_Base.write.csv(uams_mdu_path+'historical_folder/UAMS_Format_stndrd_' + str(ISP_Name)+ '_{0}_{1}.csv.gz'.format(p_base, curr_date), mode='overwrite', compression='gzip', header=True)
        
    end = datetime.now()
    print('Time taken to run for ', str(p_base), str(end - now)) # 0:0
    return

p1_mdu_path = 's3://astro-groupdata-prod-pipeline/address_standardization/tm_uams_mdu/P1_MDU.csv.gz'
p2_mdu_path = 's3://astro-groupdata-prod-pipeline/address_standardization/tm_uams_mdu/P2_MDU.csv.gz'
p1p2_mdu_generate_uams(p1_mdu_path, 'P1_MDU')
p1p2_mdu_generate_uams(p2_mdu_path, 'P2_MDU')

Error: Interpreter died:

# Generating P1P2 MDU TM Distinct Files for RPA use case
- this cell below seems to work

In [32]:
#### ----- P1 & P2 MDU TM Distinct Files

def prepare_distinct_files_pyspark(p_base):
    """For p_base, key in a string of either 'P1_MDU' or 'P2_MDU' """
    
    ### codes COPIED from Step 3.0 P1P2 Mapping. Section: RPA Base generation - to be saved in RPA bucket -- takes about 30 sec to run
    now = datetime.now()
    rpa_isp_corrected = spark.read.orc(temporary_save_path+'{0}/TM_newMDUcleaningflow_1.orc'.format(curr_date))
    print('starting rpa_isp_corrected count:', rpa_isp_corrected.count()) ## 3676163

    ## create concatenated ISP_ADDRESS column
    rpa_isp_corrected = rpa_isp_corrected.withColumn( 'ISP_ADDRESS', f.concat_ws(', ', f.col('BuildingName').cast('string'), f.col('HouseNo').cast('string'), f.col('StreetType').cast('string'), f.col('StreetName').cast('string'), f.col('Postcode').cast('string'), f.col('City').cast('string'), f.col('State').cast('string')) )

    ## create padded house no column (avoids CSV turning this column into dates)
    rpa_isp_corrected = rpa_isp_corrected.withColumn( 'TM_HOUSE_NO1', f.lpad(f.col('HouseNo').cast('string'), 10, ' ') )

    ## de-dupe and keep first (but looking at the columns to de-dupe on, maybe the keep first is not necessary?)
    New_Columns = rpa_isp_corrected.dropDuplicates( ['BuildingName','HouseNo','StreetType','Street_1','Postcode','STD_CITY','State'] )
    print("After de-dupe on ['BuildingName','HouseNo','StreetType','Street_1','Postcode','STD_CITY','State']:", New_Columns.count()) ## 3231452
    
    if p_base == 'P1_MDU':
        ## Create Mapping Key using the new joined_set for P1 MDU
        New_Columns = New_Columns.withColumn( 'HNUM_STRT_TM', f.concat_ws(' ,', f.col("HOUSE_NO_TM"), f.col("joined_set"), f.col("STD_CITY")) )
    elif p_base == 'P2_MDU':
        ## Create Mapping Key using the new_building_name for P2 MDU
        New_Columns = New_Columns.withColumn( 'HNUM_STRT_TM', f.concat_ws(' ,', f.col("new_building_name"), f.col("STD_CITY")) )
    else:
        print('invalid p_base inputted')
        return

    ## Use function above to capitalize & clean HNUM_STRT_TM column. Also, replace specific strings (eg. '[,.]' ) with empty string ("")
    New_Columns = clean_HNUM_STRT(New_Columns, 'HNUM_STRT_TM')
        
    ## select relevant columns --> should I include joined_set, new_block_building_name? Maybe no need coz joined_set is similar to HNUM_STRT_TM and new_block_building_name is similar to BuildingName
    distinct = New_Columns.select('HNUM_STRT_TM','TM_HOUSE_NO1','BuildingName', 'StreetType','StreetName', 'Section','Postcode','City', 'State','ServiceType', 'ISP_ADDRESS')
    # OLD CODE: distinct_mdu_p1 = New_Columns[['HNUM_STRT_TM','TM_HOUSE_NO1','HouseNo','BuildingName','StreetType','StreetName','Section','Postcode','City','State','ServiceType', 'ISP_ADDRESS']]

    ## create HOUSE_NO_TM column
    distinct = distinct.withColumn('HOUSE_NO_TM', f.col('TM_HOUSE_NO1').cast('string'))
    distinct = distinct.drop(*['TM_HOUSE_NO1'])

    ## removing null BuildingName
    distinct = distinct.filter(f.col('BuildingName').isNotNull())
    print('After removing null BuildingName:', distinct.count()) ## 3022508

    ## Zohreh created Mix_key column at some point to increase accuracy. But ignore for now (3/10/2022)
    # distinct_mdu_p1["Mix_key"] = distinct_mdu_p1["StreetName"].map(str) + " ," + distinct_mdu_p1["HNUM_STRT_TM"].map(str)
    # distinct_mdu_p1 = distinct_mdu_p1.drop_duplicates(subset=['Mix_key'], keep='first')

    ## Rerrange columns
    distinct = distinct.select('HOUSE_NO_TM', 'BuildingName', 'StreetType', 'StreetName', 'Section', 'Postcode', 'City', 'State', 'ServiceType', 'ISP_ADDRESS','HNUM_STRT_TM')

    ## Save Distinct Files
    distinct.write.csv(temporary_save_path+'{0}/Distinct_Fields_{1}.csv.gz'.format(curr_date, p_base), mode='overwrite', compression='gzip')
    
    end = datetime.now()
    print(str(end - now)) # 0:00:27.770097
    return
    
prepare_distinct_files_pyspark('P1_MDU')
prepare_distinct_files_pyspark('P2_MDU')

starting rpa_isp_corrected count: 3676163
After de-dupe on ['BuildingName','HouseNo','StreetType','Street_1','Postcode','STD_CITY','State']: 3231452
After removing null BuildingName: 3231452
0:00:27.770097
starting rpa_isp_corrected count: 3676163
After de-dupe on ['BuildingName','HouseNo','StreetType','Street_1','Postcode','STD_CITY','State']: 3231452
After removing null BuildingName: 3231452
0:00:20.194856